docreader/static/docreader/pdfs/2006GrandLivreGlobale.pdf
docreader/static/docreader/pdfs/2007GrandLivreGlobale.pdf
docreader/static/docreader/pdfs/2007GrandLivreGlobale_highlights.pdf
docreader/static/docreader/pdfs/2008GrandLivreGlobale.pdf
docreader/static/docreader/pdfs/2009GrandLivreGlobale.pdf
updatedTransactionFiles/AlbarakaBankStatements.csv
updatedTransactionFiles/AlbarakaBeneficiaryMatchable.csv
updatedTransactionFiles/AlbarakaSourceMatch.csv
updatedTransactionFiles/MatchedALB.csv
updatedTransactionFiles/MatchedAlbaraka.csv
updatedTransactionFiles/MatchedGrandeLivre.csv
updatedTransactionFiles/MatchedGrandeLivreHack.csv
updatedTransactionFiles/MatchedGrandeLivre_Previous.csv
updatedTransactionFiles/MatchedICR.csv
updatedTransactionFiles/ReferenceLegend.csv
updatedTransactionFiles/ReferenceLegendOriginal.csv
updatedTransactionFiles/ReferenceLegend_To_Import_NoLegend.csv
updatedTransactionFiles/ReferenceTypes.csv
updatedTransactionFiles/Text Ref Tran.csv
updatedTransactionFiles/TransactionsWithALB.csv
updatedTransactionFiles/TransactionsWithALB_Previous.csv
updatedTransactionFiles/TransactionsWithICR.csv
updatedTransactionFiles/textref vs memo.csv
Audit report 02.04.2014.xlsx
Audit report 05.06.2014_Improvement.xls
Audit report 05.06.2014_PreliminaryMarks.xls
Audit report 09.04.2014.xlsx
Audit report 29.03.2014.xls
Audit report 29.03.2014.xlsx
Audit report 30.03.2014.xlsx
Audit report Cassy 05.06.2014.xls
Audit report Complete with Return Legend 13.04.2014.xls
Audit report merged 05.04.2014.xls
Audit report merged 13.04.2014.xls
Audit report merged 31.03.2014.xls
AuditAfterTwoRounds.PNG
AuditBeforeMelanieStarts.PNG
Form 26 - Affidavit of Records.DOC
GrandeLivreAmalgamatedOutput.csv
GrandeLivreAmalgamatedOutput_withPrimaryKeys.csv
Notes for the Weekly Report.txt
Tax forms marked as receipts and date missed.docx
Transactions Report PSD.psd
albaraka2006.csv
albaraka2007.csv
companynames.csv
companynames_excel.xls
companynames_excel_grouping.xls
companynames_excel_grouping2.xls
companynames_excel_grouping3.xls
companynames_excel_grouping_final.csv
companynames_excel_grouping_final.xls
companynames_excel_grouping_first_round.csv
companynames_secondrow.csv
companynames_secondversion.csv
importing_albarakas_and_grandlivres.txt
jsondata.txt
my_project.dot
databases/AlbarakaBankStatements.csv
databases/MatchedAlbaraka.csv
databases/MatchedGrandeLivre.csv
databases/MatchedGrandeLivreHack.csv
databases/Packets.csv
databases/ReferenceLegend_To_Import_NoLegend.csv
databases/ReferenceLegend_To_Import_NoLegend.xls
databases/copy_file_to_server.txt
databases/nathansqlite3db-journal
