@charset "UTF-8";

html, body{
	
	/*background:url("images/body.jpg");*/
    background:url("images/body.jpg");
	background-repeat:repeat;

	color:#fff;
	letter-spacing:1px;
	font-family:Georgia, "Times New Roman", Times, serif;
    
    
    background-color:#202020 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#171717)) !important;
    background-image: -webkit-linear-gradient(top, #202020, #171717) !important;
    background-image:    -moz-linear-gradient(top, #202020, #171717) !important;
    background-image:     -ms-linear-gradient(top, #202020, #171717) !important;
    background-image:      -o-linear-gradient(top, #202020, #171717) !important;
    background-image:         linear-gradient(top, #202020, #171717) !important;

}

.ui-widget {
    font-size:80% ;
}


.group { zoom: 1 }


#left_container {

    position:absolute;
    
    width:22%;
    height:100%;
    
    left: 0.3%;
    top: 0%;
    
    overflow:hidden;
    
}
   
    #fields_container {
        position: absolute;
        width: 96%;
        height: 98%;
        
        top: 0.6%;
        left: 1%;
        
       overflow-x:hidden;
       overflow-y:auto;
    }
    
    #dialog-form label, #dialog-form  input { display:block; }
    #dialog-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #fieldset_fields { padding:0; border:0; margin-top:12%; overflow:hidden;}
    #fieldset_fields ul{ width:93%; margin-top:8%; margin-bottom:8%; overflow:hidden}
    #dialog-form h1 { font-size: 1.2em; margin: .6em 0; }
    
    .ui-dialog .ui-dialog-titlebar {
    
        cursor:pointer; cursor:hand
    
    }
        
    .ui-dialog .ui-state-error { padding: .3em; }
     .validateTips { border: 1px solid transparent; padding: 0.3em; }
    
    .ui-dialog-titlebar-close {
        display: none;
    }
    
    .ui-widget-overlay {
        display: none;
    }
    
    .ui-menu {
        width: 70% !important;
        
    }
    
    .overflow-visible {
        
        overflow: visible !important;
    }
    
    .no-mouse-events {
        
        pointer-events: none !important;
    }
    
    .high-z-index {
        z-index:50;
    }
    
    .menu_text{
        margin-left: 1% !important;
        padding-left: 2% !important;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
   
    }
    
    .date_text{
        
        display: inline !important;
        width: 30% !important;
        margin-top: 2%;
        margin-bottom: -0.1% !important;
        
    }
    
    .ui-datepicker-calendar {
            
    }
    
    
    .divisor-line {
    
        width: 92%;
        margin-left: 1%;

        height: 0.5%;
        border: 1px dashed silver;

    }
    
    
    #doctypemenu {
    
        
        margin-top: 0% !important;
        
        
    }
        
        
    .menuclass {
        width:92.5% !important;
    }
    
    
    .invisible {
        display:none !important;
    }



    #companyform_container {
        position: absolute;
        width: 23%;
        height: 75%;
        
        top: 26%;
        left: 10%;
        
       overflow-x:hidden;
       overflow-y:auto;
       
      
    }
    
    #company-form label, #company-form  input { display:block; }
    #company-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #company_fieldset { padding:0; border:0; margin-top:6%; overflow:hidden;}
    #company_fieldset ul{ width:93%; margin-top:8%; margin-bottom:8%; }
    #company-form h1 { font-size: 1.2em; margin: .6em 0; }
    .validateTips_Company { border: 1px solid transparent; padding: 0.3em; }

    .ui-autocomplete {
        max-height: 40% !important;
        overflow-y: scroll !important; 
        
    }
    
#right_container {

    position:absolute;
    
    width:77%;
    height:100%;
    
    left:23%;
    top:0;
    
   
   
}

    #pdf_view {

    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    
  
    }

    #pdf_view  object {
        position:absolute;
        left:0;
        top:0;
        display:block;
        
        z-index:10;
    }
	
/*.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_76e361_500x100.png") 50% 50% repeat-x;
	color: #030303;
}*/

/*.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_d25d72_500x100.png") 50% 50% repeat-x;
	
}*/

.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #51b072 url("images/ui-bg_highlight-hard_20_51b072_1x100.png") 50% 50% repeat-x;
	color: #030303;
}

.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #e9a355 url("images/ui-bg_highlight-hard_20_e9a355_1x100.png") 50% 50% repeat-x;
	
}
