@charset "UTF-8";

html, body{

    position:fixed;
    
    width:100%;
    height:100%;
    
    left:0;
    top:0;

}

#container_all {

    position:fixed;
    
    width:100%;
    height:100%;
    
    left:0;
    top:0;
    
}

#container_headers{

    position:fixed;
    
    width:100%;
    height:15%;
    
    left:0;
    top:0;
    
}

#container_body{

    position:fixed;
    
    width:100%;
    height:85%;
    
    left:0;
    top:15%;
  
    

}

#site-header {
    
    position:absolute;
    
    top:10%;
    left:0%;
    
    width:100%;
    height:80%;
    
    font-family:Times;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    vertical-align:middle;
    color: #FEE0C6;
    
	border-bottom: 1px solid #525252;
  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(bottom, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(bottom, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(bottom, #151515, #404040) !important;
    background-image:      -o-linear-gradient(bottom, #151515, #404040) !important;
    background-image:         linear-gradient(bottom, #151515, #404040) !important;
}

#site-name {

    position:absolute;
    
    top:25%;
    left:1.5%;
    

}

.breadcrumbs {

    position:absolute;
    width:20%;
    height:5%;
    left: 0%;
    bottom:0%;
}

a {
   
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    background-color:#151515 !important;
}

a:link {color:#FFA5E6;}      /* unvisited link */
a:visited {color:#FFA5E6;}  /* visited link */
a:hover {color:#ECF1EF; background:#333333;}  /* mouse over link */
a:active {color:#FCF6CF;}  /* selected link */

