
{% load i18n %}
{% load staticfiles %}


{% block page_title %}
<head>
{% block special_libs %} 
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/blank_or_not_blank.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/loadingscreen.css' %}" />

{% endblock special_libs %}

{% block config_libs %} 


<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>


<script>
    
    $(document).ready(function () {
                
        $('.ui-widget').css("font-size","80%");
        var tips = $( ".validateTips" );
        tips.css("display","none"); 
        
        createPdf_View();
        createUserPanel();
        createFieldsForm();
        configLoadingScreen();

        
        function createPdf_View(){
        
                var $pdf = $('#pdf_view');
            
                var w=$pdf.width();
                var h=$pdf.height();
                       
                var link = $pdf.attr("value");
         
                var s ='<object id="pdf_view_object" data='+link+' type="application/pdf" width="'+w+'" height="'+h+'">';
                s+= 'PDF View not Available in this Browser : ';
                s+= '<a href='+link+'>Alternative Link</a>';
                s+= '</object>'
                
                $pdf.append(s); 
        }
        
        function createUserPanel(){
        
            $( "#user-panel" ).dialog({
                  
                  height: $('#userpanel_container').height(),
                  width: $('#userpanel_container').width(),
                  modal: false,
                  autoOpen:true,
                  closeOnEscape: false,
                  resizable:true,
                  position: {
                    my: "left bottom", at: "left bottom", of: $('#userpanel_container')
                    }
                  
                });
                
                $( "#userpanelmenu" ).menu({ position: { my: "right bottom", at: "right bottom" },
                    select: function( event, ui ) {
                        
                    } 
                });
                
                $('#show_progress_link').click(function(){
                
                    $('#show_progress').attr("value","show_progress");
                    $('#save_id').attr("value","NoId");
                    $('#fields_form').submit();

                });
                
        }
            
        function createFieldsForm(){
        
        
            $( "#dialog-form" ).dialog({
                
                width: $('#fields_container').width(),
                height: $('#fields_container').height(),
                
                modal: false,
                draggable:false,
                resizable: false,
                closeOnEscape: false,
                buttons: {
                    "BLANK": function() {
                        
                        var bValid = true;

                        //allFields.removeClass( "ui-state-error" );
                        $(".ui-state-error").removeClass( "ui-state-error" );
                        
                        $('#blank_or_not_blank').attr('value','blank');
                        
                        $value = $('#blank_or_not_blank').attr('value');
                        
                        if ($value != "other" && $value != "blank" ) bValid = false;

                        if ( bValid ) {
                            
                            toggleLoadingScreen();
                            $('button').attr("disabled", true).addClass("ui-state-disabled");
                            $('#fields_form').submit();
                            
                        }
                    },
                    "NOT BLANK": function() {
                        
                        var bValid = true;

                        //allFields.removeClass( "ui-state-error" );
                        $(".ui-state-error").removeClass( "ui-state-error" );
                        
                        $('#blank_or_not_blank').attr('value','other');
                        
                        $value = $('#blank_or_not_blank').attr('value');
                        
                        if ($value != "other" && $value != "blank" ) bValid = false;
                        
                        if ( bValid ) {
                            
                            toggleLoadingScreen();
                            $('button').attr("disabled", true).addClass("ui-state-disabled");
                            $('#fields_form').submit();
                            
                        }
                    },
                    "UNDO PREVIOUS": function() {
                        
                        var bValid = true;

                        //allFields.removeClass( "ui-state-error" );
                        $(".ui-state-error").removeClass( "ui-state-error" );
                        
                        $('#blank_or_not_blank').attr('value','RollBack');
                        
                        $value = $('#blank_or_not_blank').attr('value');
                        
                        if ($value != "RollBack" ) bValid = false;
                        
                        if ( bValid ) {
                            
                            toggleLoadingScreen();
                            $('button').attr("disabled", true).addClass("ui-state-disabled");
                            $('#fields_form').submit();
                            
                        }
                    },
                    
                },
                position: {
                    my: "left top", at: "left top", of: $('#fields_container')
                }
            });

        }
        
        
        
        function updateTips( t ) {
                  tips
                    .text( t )
                    .addClass( "ui-state-error" );
                    tips.css("display","block");
                  setTimeout(function() {
                    tips.removeClass( "ui-state-error", 1500 );
                    tips.css("display","none");
                  }, 5000 );
        }
       
        function configLoadingScreen(){
        
            image_width = $('#LoadingSpinner').width();
            image_height = $('#LoadingSpinner').height();
            
            $('#LoadingSpinner').css("margin-left",-image_width/2);
            $('#LoadingSpinner').css("margin-top",-image_height/2);
            
            //text_width = $('#LoadingDescription').width();
            //text_height = $('#LoadingDescription').height();
        
            //$('#LoadingDescription').css("margin-left",-text_width/2);
            //$('#LoadingDescription').css("margin-top",-text_height/2);

        }
        
        function toggleLoadingScreen(){
        
            $('#LoadingScreen').toggleClass("invisible");
            
        }
       
        
        
    });
        
</script>
{% endblock config_libs %}

<title>Blank Or Not Blank Tool Interface</title>

</head>
{% endblock page_title %}





{% block jqueryui_setups %}



{% endblock jqueryui_setups %}  

<body>
{% if not is_popup %}

{% block container_all %}

<div id = "LoadingScreen" class="invisible">
        <img id ="LoadingSpinner"  src = "{% static 'enersectapp/images/ajax-loader.gif' %}"/>
        <h4 id="LoadingDescription"></h4>
</div>


<div id="container_all">

{% block container_headers %}

<div id="container_headers">



</div>

{% endblock container_headers %}

{% block container_body %}

<div id="container_body">


{% block content%}
    
    {% if chosen_item %}
    
    
    <div id="left_container">
    
        <div id="fields_container">
        
            <div id="dialog-form" title="Assign New Document Type">
                            
                <p class="validateTips">Selecting or Adding a Document Type is Required.</p>
             
                <form id="fields_form" autocomplete="off" action="{% url 'enersectapp:blank_or_not_blank' %}" method="post">
                {% csrf_token %}
               
                <input class="invisible" type="text" name="blank_or_not_blank" id="blank_or_not_blank" value="" />
                <input class="invisible" type="text" name="save_id" id="save_id" value="{{chosen_item.id}}" />
         
                <input class="invisible" type="text" name="show_progress" id="show_progress" value="" />
                

                <h3>{{success_message}}</h3>
                
                </form>
            </div>
            
        </div>
        
    </div>
    {% endif%}
    <div id="right_container">
        
            
        <div id="pdf_view" value="http:\\54.200.180.182\sourcepdfs\{{chosen_item.job_directory}}\{{chosen_item.filename}}">
        
        
        </div>
        
        
        <div id="userpanel_container">
            <div id="user-panel" title="{{the_user}}">
                
                <p class="validateTips_Countdown">{{show_progress_user}} <br><br> Probable Blanks left in this Mode: {{count_blank_probable}}</p>

                <ul class="menuclass" id="userpanelmenu">
                    <!--<li><a id="show_progress_link" href="#">Show Progress</a></li>
                    <li>--</li>-->
                    <li><a id="logout_link" href="{% url 'enersectapp:app_login' %}">Change User</a></li>
                    <li>--</li>
                    <li><a id="toolsmenu_link" href="{% url 'enersectapp:main' %}">Return to Tools Menu</a></li>
                </ul>
            </div>
        </div>
                
    </div>
   

    
{% endblock content%}



</div>

{% endblock container_body %}

</div>

{% endblock container_all %}

{% endif %}
</body>


{% block sidebar %}{% endblock %}
