{% load i18n %}
{% load staticfiles %}



{% block page_title %}
<head>
<title>Search Tool</title>
</head>
{% endblock page_title %}

{% block config_libs %}

<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/dragtablejs/jquery.dragtable.js' %}"></script>
<script type="text/javascript" src="{% static 'enersectapp/jquery-panelsnap/jquery.panelSnap.js' %}"></script>


{% endblock config_libs %}

{% block special_libs %}
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/user_panel_module.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/site_basic_style_template.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/loadingscreen.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/zebra_table.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/aristo/css/Aristo/Aristo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/legal_discovery.css' %}" />
{% endblock special_libs %}

{% block jqueryui_setups %}


<script type="text/javascript">

    

    $(document).ready(function () {

    
        {% autoescape off %}
        
        var document_types_list_dictionary = {{document_types_list_dictionaries}};

        {% endautoescape %}
        
        
        mapped_DocType_info = {}
        
        //Converting the dictionaries in objects, with the "name" as their access key
        
        for (var i = 0; i < document_types_list_dictionary.length; i++)
        {
            mapped_DocType_info[document_types_list_dictionary[i].clean_name] = document_types_list_dictionary[i];

            var pointer_extractionfields = mapped_DocType_info[document_types_list_dictionary[i].clean_name].extraction_fields;
            
            var mapped_extractionfields = {}
            
            //Converting the extraction_field lists in objects, with the "name" as their access key
            
            for (var j = 0; j < pointer_extractionfields.length; j++)
            {
                
                mapped_extractionfields[pointer_extractionfields[j].real_field_name] = pointer_extractionfields[j];
                
            }
            
            mapped_DocType_info[document_types_list_dictionary[i].clean_name].extraction_fields = mapped_extractionfields;
            
            
        }
        
        configLoadingScreen();
        
        createUserPanel();
        

        //Cute tooltips, configures fade-ins and outs for the Tooltips.

        $(function() {
            $( ".show-option" ).tooltip({

              show: {
                effect: "slideDown",
                delay: 250
              },tooltipClass: "custom-tooltip"
            });
            $( ".hide-option" ).tooltip({
              hide: {
                effect: "slideUp",
                delay: 250
              },tooltipClass: "custom-tooltip"
            });
        });

        //Panel for the Categories / Doctypes
        
        $( "#doctypes_panel" ).dialog({
          autoOpen: true,
          height: $("#doctypes_panel_container").height(),
          width: $("#doctypes_panel_container").width(),
          modal: false,
          closeOnEscape: false,
          resizable: true,
          position: {
                    my: "left top", at: "left top", of: $('#doctypes_panel_container')
          }
        });

        //Panel for the Details when choosing a DocType
        
        $( "#doctypes_detail_panel" ).dialog({
          autoOpen: true,
          height: $("#doctypes_detail_panel_container").height(),
          width: $("#doctypes_detail_panel_container").width(),
          modal: false,
          closeOnEscape: false,
          resizable: true,
          position: {
                    my: "left top", at: "left top", of: $('#doctypes_detail_panel_container')
          }
        });
        
        //Panel for the Template Selection
        
        $( "#doctypes_choose_template_panel" ).dialog({
          autoOpen: true,
          height: $("#doctypes_choose_template_panel_container").height(),
          width: $("#doctypes_choose_template_panel_container").width(),
          modal: true,
          closeOnEscape: false,
          resizable: true,
          position: {
                    my: "left top", at: "left top", of: $('#doctypes_choose_template_panel_container')
          }
        });
        
        //Choose Template Button
        
        $("#choose_template_button").button().click(function(){
        
            toggleLoadingScreen();
            $('button').attr("disabled", true).addClass("ui-state-disabled");
            $('#action_mark').attr("action_mark","choose_template");
            $('#discovery_form').submit();
        
        });
        
        //Save Template Button
        
        $("#save_template_button").button().click(function(){
        
            toggleLoadingScreen();
            $('button').attr("disabled", true).addClass("ui-state-disabled");
            $('#action_mark').attr("action_mark","save_template");
            $('#discovery_form').submit();
        
        });
        

        //Make DocType_List sortable && dragable! 
        
        $( "#doctype_list" ).sortable({
          placeholder: "ui-state-highlight-line",
          handle: ".handle",
          distance: 10
        })
        .selectable({ filter:"li", cancel:".handle" })
        .find( "li" )
        .addClass( "selected_list_element")
        .prepend( "<div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>" );
        
        
        //Event so when you click on a name, the detail panel shows the appropriate checkboxes
        
        isAnyActive = false;
        
        $( ".edit_doctype_element" ).mousedown(function(event){
        
            event.preventDefault();

            self = $(this)
            
            //Name that is properly formated for data use
            
            var clicked_name = self.attr("clean_name");
            
            //Name that is actually shown
            
            var cute_name = self.attr("cute_name");
            
            var info_element = mapped_DocType_info[clicked_name];
            
            var extraction_fields_objects = info_element.extraction_fields;
            
            var destination_panel = $( "#doctypes_detail_panel" );
            
            var $ulist = $( "#doctypes_detail_extraction_list" );
            
            //Erasing the previous panel and saving the data in mapInfo
            
            if($ulist.length && isAnyActive == true)
            {
                doctype = $ulist.attr("doctype");
            
                var new_extraction_fields_object = {}
            
                $(".extraction_field_checkbox").each(function(){
                
                    extraction_field_name = $(this).attr("real_field_name");
                    
                    field_name = $(this).attr("field_name");
                    
                    is_checked = $(this).attr("checked");
                    
                    sort_checked = $(".order_by[real_field_name = "+extraction_field_name+"]:checked").attr("order");
                    
                    var extraction_field = {}
                    
                    
                    extraction_field.real_field_name = extraction_field_name;
                    extraction_field.name = field_name;
                    extraction_field.checked = is_checked;
                    extraction_field.field_sorting = sort_checked;
                    
                    new_extraction_fields_object[extraction_field_name] = extraction_field;
                    
                });
                
                mapped_DocType_info[doctype].extraction_fields = new_extraction_fields_object;
                
                slider_value_min = $( "#slider_amount_min" ).val();
                slider_value_max = $( "#slider_amount_max" ).val();
                
                //$( "#slider_amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                
                mapped_DocType_info[doctype].min_selected = slider_value_min;
                mapped_DocType_info[doctype].max_selected = slider_value_max;
                
                
                $('#slider_title').remove();
                
                $('#doctypes_detail_selection_range').remove();
                
                $ulist.remove();
                
                isAnyActive = false;
                
            }
            
            //Creating the detailed panel for the selected DocType, absorbing the info from mapInfo
            
            if($.isEmptyObject(extraction_fields_objects) == false && isAnyActive == false)
            {

            
                destination_panel.dialog({title: cute_name+" Details"});
                
                
                //Creating the slider with the document range
            
                var str = '<p id="slider_title">';
                str += '<label for="slider_amount_min">Selection Range:</label>';
                //str += '<input type="text" id="slider_amount" style="border:0; margin-left:2%; background:none; font-weight:bold;">';
                str += '<input type="text" value="" style="display: inline-block; border:0; margin-left:2%; text-align:center; width:10%; background:none; font-weight:bold;" id="slider_amount_min">';
                str += '-';
                str += '<input type="text" value="" style="display: inline-block; border:0; margin-left:2%; text-align:center; width:10%; background:none; font-weight:bold;" id="slider_amount_max">';
                str += '</p>' ;
                str += '<div id="doctypes_detail_selection_range">';
                
                str += '</div>';
            
                destination_panel.append(str);
            
                //Creating the unordered list container
            
                var ulist = '<ul doctype='+clicked_name+' id="doctypes_detail_extraction_list"></ul>';
                
                destination_panel.append(ulist);
                
                destination_panel = $( "#doctypes_detail_extraction_list" );
                
                
                //Loop creating the li elements, that contain a selection checkbox, the field name, and a set of sorting buttons
                
                for (var obj in extraction_fields_objects) {
                
                    if (extraction_fields_objects.hasOwnProperty(obj)) {
                        
                        real_field_name = extraction_fields_objects[obj].real_field_name;
                        field_name = extraction_fields_objects[obj].name;
                        checked = extraction_fields_objects[obj].checked;
                        field_sorting = extraction_fields_objects[obj].field_sorting;
                    
                        
                    
                        str = '<li class="ui-state-default doctype_element">';
                        
                        str += '<input type="checkbox" field_name='+field_name+' real_field_name='+real_field_name+' id="checkbox_'+real_field_name+'" class="extraction_field_checkbox"';
                        
                        if(checked == "checked")
                        {
                            str += ' checked="checked" ';
                        }
                        
                        str += '>';
                        
                        str += '<label for="checkbox_'+real_field_name+'">';
                        str += field_name;
                        str += '</label>';
                        
                        //Sorting buttonset
                        
                            str += '<div class="sorting_buttonset">';
                        
                            str += '<input type="radio" real_field_name='+real_field_name+' ';
                            
                            if(field_sorting == "default")
                            {
                                str += ' checked="checked" ';
                            }
                            
                            str += 'class="order_default order_by" order="default" id="radio_'+real_field_name+'" name="radio_'+real_field_name+'">';
                            
                            str += '<label class="order_tab" for="radio_'+real_field_name+'"></label>';
                            
                            str += '<input type="radio" real_field_name='+real_field_name+' ';
                            
                            if(field_sorting == "down")
                            {
                                str += ' checked="checked" ';
                            }
                            
                            str += 'class="order_down order_by" order="down" id="radio_'+real_field_name+'1" name="radio_'+real_field_name+'">';
                            
                            str += '<label class="order_tab" for="radio_'+real_field_name+'1"></label>';
                            
                            str += '<input type="radio" real_field_name='+real_field_name+' ';
                            
                            if(field_sorting == "up")
                            {
                                str += ' checked="checked" ';
                            }
                            
                            str += 'class="order_up order_by" order="up" id="radio_'+real_field_name+'2" name="radio_'+real_field_name+'">';
                        
                            str += '<label class="order_tab" for="radio_'+real_field_name+'2"></label>';
                        
                            str += '<input type="text" real_field_name='+real_field_name+' class="invisible" value='+field_sorting+' id="sorting_info'+real_field_name+'">';
                        
                            str += '</div>';
                        
                        str += '</li>';
                        
                        
                        destination_panel.append(str);
                    }
                    
                }
                
                $( "#doctypes_detail_selection_range" ).slider({
                    range: true,
                    min: info_element.min_show,
                    max: info_element.max_show,
                    values: [ info_element.min_selected, info_element.max_selected ],
                    slide: function( event, ui ) {
                    
                      
                        $( "#slider_amount_min" ).val(ui.values[ 0 ]);
                        $( "#slider_amount_max" ).val(ui.values[ 1 ]);
                      
                      },
                      
                    });
                    
              
                $( "#slider_amount_min" ).val(info_element.min_selected);
                $( "#slider_amount_max" ).val(info_element.max_selected);
                
                //Getting the values represented in the slider
                
                $( "#slider_amount_min" ).blur(function(){
                
                    val1 = $( "#slider_amount_min" ).val();
                    val2 = $( "#slider_amount_max" ).val();
                    
                    //Maximum and minimum controls
                    
                    if(val1 < info_element.min_show) val1 = info_element.min_show;
                    if(val1 > info_element.max_show) val1 = info_element.max_show;
                    if(val1 > val2) {alert("min"); val1 = val2;}
                    
                    $( "#slider_amount_min" ).val(val1);
                
                    $( "#doctypes_detail_selection_range" ).slider('values',[val1,val2]);
                });
                
                $( "#slider_amount_max" ).blur(function(){
                
                    val1 = $( "#slider_amount_min" ).val();
                    val2 = $( "#slider_amount_max" ).val();
                
                    //Maximum and minimum controls
                    
                    if(val2 < info_element.min_show) val2 = info_element.min_show;
                    if(val2 > info_element.max_show) val2 = info_element.max_show;
                    if(val2 < val1) {alert("max");val2 = val1;}
                
                    $( "#slider_amount_max" ).val(val2);
                
                    $( "#doctypes_detail_selection_range" ).slider('values',[val1,val2]);
                });
               
                
                //Make Extraction Fields List sortable && dragable! 
        
                $( "#doctypes_detail_extraction_list" ).sortable({
                  placeholder: "ui-state-highlight-line",
                  handle: ".handle",
                  distance: 10
                })
                .selectable({ filter:"li", cancel:".handle" })
                .find( "li" )
                .addClass( "selected_list_element")
                .prepend( "<div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>" );
                
                
                $(".order_default").button( { icons: {primary:'ui-icon-carat-2-n-s'} } );
                
                $(".order_down").button( { icons: {primary:'ui-icon-triangle-1-s'} } );
                
                $(".order_up").button( { icons: {primary:'ui-icon-triangle-1-n'} } );
                
                isAnyActive = true;
            }
            
            return false;
        
        });
        
        
        function configLoadingScreen(){

            image_width = $('#LoadingSpinner').width();
            image_height = $('#LoadingSpinner').height();

            $('#LoadingSpinner').css("margin-left",-image_width/2);
            $('#LoadingSpinner').css("margin-top",-image_height/2);

            //text_width = $('#LoadingDescription').width();
            //text_height = $('#LoadingDescription').height();

            //$('#LoadingDescription').css("margin-left",-text_width/2);
            //$('#LoadingDescription').css("margin-top",-text_height/2);

        }

        function toggleLoadingScreen(){

            $('#LoadingScreen').toggleClass("invisible");
            $('#export_mark').attr("value", "none");

        }

        function createUserPanel(){

            $( "#user-panel" ).dialog({

                  autoOpen:false,
                  height: $('#userpanel_container').height(),
                  width: $('#userpanel_container').width(),
                  modal: false,
                  closeOnEscape: false,
                  resizable:true,
                  show: {
                    effect: "drop",
                    duration: 500
                  },
                  hide: {
                    effect: "drop",
                    duration: 500
                  },
                  position: {
                    my: "left bottom", at: "left bottom", of: $('#userpanel_container')
                    }

                });

                $( "#userpanelmenu" ).menu({ position: { my: "right bottom", at: "right bottom" },
                    select: function( event, ui ) {

                    }
                });
            }

    });

</script>

{% endblock jqueryui_setups %}
 <body>
{% if not is_popup %}

<div id = "LoadingScreen" class="invisible">
        <img id ="LoadingSpinner"  src = "{% static 'enersectapp/images/ajax-loader.gif' %}"/>
        <h4 id="LoadingDescription"></h4>
</div>

{% block container_all %}

<div id="container_all">

{% block container_headers %}

<div id="container_headers">

</div>

{% endblock container_headers %}

{% block container_body %}

<div id="container_body">

{% block content%}

    <div id="right_container">

        <div id="userpanel_container">
            <div id="user-panel" class="invisible" title="{{the_user}}">
                <ul class="menuclass" id="userpanelmenu">
                    <li><a id="logout_link" href="{% url 'enersectapp:app_login' %}">Change User</a></li>
                    <li>--</li>
                    <li><a id="toolsmenu_link" href="{% url 'enersectapp:main' %}">Return to Tools Menu</a></li>

                </ul>
            </div>
        </div>

    </div>


    <div id="panels_container">
        
            <form id="discovery_form" action="{% url 'enersectapp:legal_discovery' %}" method="post">
            {% csrf_token %}
                <fieldset id="fieldset_fields">
                
                    <div id="doctypes_panel_container">

                        <div id="doctypes_panel" title="Select and Sort Categories">
                    
                            
                            <ul id="doctype_list">
                                {% for doctype in document_types_list_dictionaries %}
                                    <li class="ui-state-default doctype_element {% if doctype.number_extraction_fields == 0 %}unavailable_element{% else %}available_element{% endif %}">
                                        
                                        <input type="checkbox" {% if doctype.checked == "checked" %} checked="checked" {% endif %} field_name="{{doctype.name}}" real_field_name="{{doctype.clean_name}}" id="doctype_item_{{doctype.clean_name}}" class="doctype_item_checkbox">
                                    
                                        <span clean_name="{{doctype.clean_name}}" class="doctype_list_name">{{doctype.name}}</span><span class="doctype_list_count">Total : {{doctype.count}}</span>
                                    
                                        
                                        {% if doctype.number_extraction_fields > 0 %}
                                        <div class='edit_doctype_element' clean_name="{{doctype.clean_name}}" cute_name="{{doctype.name}}">
                                            <span class='ui-icon ui-icon-gear'></span>
                                        </div>
                                        {% endif %}
                                        
                                    
                                    </li>
                                    
                                    
                                    
                                {% endfor %}
                                     
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                    <div id="doctypes_detail_panel_container">
                    
                        <div id="doctypes_detail_panel" title="Selected Category Details">
                    

                        </div>
                    
                    </div>
                    
                    <div id="doctypes_choose_template_panel_container">
                    
                        <div id="doctypes_choose_template_panel" title="Legal Discovery Templates">
                            
                            <select id="select_template_menu" name="selected_template" id="selected_template" value="">
                                    <option value="new_template">New Template</option>
                                {% for template_name in legaldiscovery_templates_list %}
                                    <option value="{{template_name}}">{{template_name}}</option>
                                {% endfor %}
                            </select>

                            <button id="choose_template_button">Choose</button>
                            <button id="save_template_button">Save</button>
                            
                            
                        </div>
                    
                    </div>
                    
                    
            
                </fieldset>
            </form>
        
        
    </div>



{% endblock content%}


</div>

{% endblock container_body %}

</div>

{% endblock container_all %}

{% endif %}
</body>


{% block sidebar %}{% endblock %}
