{% load i18n %}
{% load staticfiles %}


{% block page_title %}
<head>
<title>Transactions Report Tool</title>
</head>
{% endblock page_title %}

{% block config_libs %} 

<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/d3/d3.min.js' %}" ></script>
<script type="text/javascript" src="http://tablesorter.com/__jquery.tablesorter.min.js"></script> 
<script  type="text/javascript" src="{% static 'enersectapp/floatThead.js' %}" ></script>



{% endblock config_libs %}

{% block special_libs %}

<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/aristo/css/Aristo/Aristo.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'enersectapp/user_panel_module.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/site_basic_style_template.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'enersectapp/loadingscreen.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/transactions_report.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jacob.css' %}" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

<style type="text/css" id="jacobs">

        /* tables */
    table.tablesorter {
        font-family:arial;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 100%;
        text-align: left;
    }
    table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        background-color: #e6EEEE;
        border: 1px solid #FFF;
        font-size: 8pt;
        padding: 4px;
    }
    table.tablesorter thead tr .header {
        background-image: url(http://tablesorter.com/themes/blue/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }
    table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        vertical-align: top;
    
    }
    
    table.tablesorter thead tr {
    
    color:black;
    
    }
    
    tr:nth-child(2n) {
        background: rgba(0,0,0,0.05);
    }
    table.tablesorter tr.candidate:hover {
        cursor:pointer;
    }
    table.tablesorter tr:hover {
        border:1px solid black;
        
    }
    
    
    
    table.tablesorter tbody tr.odd td {
        background-color:#F0F0F6;
    }
    table.tablesorter thead tr .headerSortUp {
        background-image: url(http://tablesorter.com/themes/blue/asc.gif);
    }
    table.tablesorter thead tr .headerSortDown {
        background-image: url(http://tablesorter.com/themes/blue/desc.gif);
    }
    table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
    }
    
    table.tablesorter .starNumber {
    display:none;
    }
    
    table.tablesorter .star1:after {
        content:'★';
    }
    
    table.tablesorter .star2:after {
        content:'★★';
    }
    table.tablesorter .star3:after {
        content:'★★★';
    }
    table.tablesorter .star4:after {
        content:'★★★★';
    }
    table.tablesorter .star5:after {
        content:'★★★★★';
    }
    table.tablesorter .star6:after {
        content:'★★★★★★';
    }
        table.tablesorter .star7:after {
        content:'★★★★★★★';
    }
        table.tablesorter .star8:after {
        content:'★★★★★★★★';
    }
    #tableLoader {
    position:absolute;
    top:100px;
    left:50%;
    margin-left:-50px;
    max-width:40px;
    background:rgba(255,255,255,0.6);
    padding:10px;
    border-radius:8px;
    display:none;
    }

    
    


</style>



{% endblock special_libs %}

{% block jqueryui_setups %}

<script>

    $(document).ready(function () {
        
        // JACOBS JQUERY
        
        $(window).on('resize', function(){
        
        $('#transaction_search_candidates').height(window.innerHeight - 140);
        $('#iframe_test').height(window.innerHeight - 160);
        
        })
        
        $('#transaction_search_candidates').height(window.innerHeight - 140);
        $('#iframe_test').height(window.innerHeight - 160);
        
        
        
        // END JACOBS JQUERY
        
        {% autoescape off %}
        
        console.log("STARTING PROGRAM");
        
                
        //var searchtags = {{searchtags}};
        //console.log(searchtags);
        var number_of_searchtags = {{number_of_searchtags}};
        console.log(number_of_searchtags);
      
        var selected_candidates_list = {{selected_candidates_list}};
        console.log(selected_candidates_list);
      
        console.log("-----------------------------");
        
        {% endautoescape %}
        
        createLeftGraph();
        
        createRightGraph();
    
        initiateListeners();

        function createLeftGraph(){
             
        
            /*$( ".entry_item_candidates_list" ).droppable({
              accept: ".candidate",
              activeClass: "ui-state-hover",
              hoverClass: "ui-state-active",
              out: function( event, ui ) {
              
                var transactionId = ui.draggable.attr("candidate_id");
                var listType = $(this).attr("list_type");

                var entryId = $("#selected_transaction").attr("value");
                
                var operationType = "remove";

                //$("#helper_add_remove_transaction").remove();
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe class="helper_add_remove_transaction" src="/enersectapp/'+entryId+'/'+transactionId+'/'+listType+'/'+operationType+'/add_or_remove_transaction/" width="500px" height="500px" frameBorder="0"></iframe>'
                
                $("body").append(frame);
                
                
              },
              drop: function( event, ui ) {
              
                var transactionId = ui.draggable.attr("candidate_id");
                var listType = $(this).attr("list_type");

                var entryId = $("#selected_transaction").attr("value");
                
                var operationType = "add";

                //$("#helper_add_remove_transaction").remove();
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe class="helper_add_remove_transaction" src="/enersectapp/'+entryId+'/'+transactionId+'/'+listType+'/'+operationType+'/add_or_remove_transaction/" width="500px" height="500px" frameBorder="0"></iframe>'
                
                $("body").append(frame);
                
              }
            });*/
            
            /*$( ".sortable" ).sortable({
              connectWith: "ul",
              items: "li:not(.list_description)"
            });
            
            $( ".sortable1, .sortable2, .sortable3" ).disableSelection();*/
        
        }
    
        function createRightGraph(){
        
            var total_width_panel = $("#transaction_search_candidates").css("width");
            
            new_width_panel = total_width_panel
            //var new_width_panel = Math.floor(parseInt(total_width_panel)/(number_of_searchtags+1));
            //var new_font_size = $("#transaction_search_candidates").css("font-size",100-(10*(number_of_searchtags/number_of_searchtags))+"%");
            
            $(".transaction_search_candidates_list").css("width",new_width_panel+"px");
            
            $(".transaction_search_candidates_list").css("display","inline-block");
            
            var candidate_width = $(".entry_item_candidates_list .candidate").width();
            
            $(".sortable_transaction_search .transaction_search_candidate").each(function(){
            
                if($(this).width()!=candidate_width)
                {
                    $(this).css("width",candidate_width+"px");
                }
                
            
            });
            
            
           
        }
        
    
        function initiateListeners() {
        
            //When Mouse over one of the Candidates, update the iframe to show that Transaction
            
            $(".candidate").click(function(){
                
                if($(this).hasClass("been-clicked4")) { $(this).addClass("been-clicked5");  $(this).removeClass("been-clicked4");}
                if($(this).hasClass("been-clicked3")) { $(this).addClass("been-clicked4"); $(this).removeClass("been-clicked3"); }
                if($(this).hasClass("been-clicked2")) { $(this).addClass("been-clicked3"); $(this).removeClass("been-clicked2"); }
                if($(this).hasClass("been-clicked1")) { $(this).addClass("been-clicked2"); $(this).removeClass("been-clicked1"); }
                
                if($(this).hasClass("been-clicked") == false) { $(this).addClass("been-clicked1"); $(this).addClass("been-clicked"); }
                
                
                

                $("#transaction_graph").remove();
                
                var frame_width = $("#iframe_test").width()-10+"px";
                var frame_height = $("#iframe_test").height()-10+"px";
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe id="transaction_graph" src="/enersectapp/'+candidate_id+'/show_transaction/" width='+frame_width+' height='+frame_height+' frameBorder="0"></iframe>'
                
                $("#iframe_test").append(frame);
                
            });
            
        
            $("#searchtag_add_button").click(function(){
            
                var actual_searchtags_string = $("#searchtags_string").attr("value");
                
                var new_tag_type = $("#select_tagtype_menu").val();
                var new_tag_content = $("#searchtags_input").val();
                
                if(new_tag_content)
                {
                
                     var s = "";
                
                    if(actual_searchtags_string.length != 0)
                    {
                        s+="+";
                    }
                    
                    s+=new_tag_type+":"+new_tag_content;
                    
                    
                    
                    $("#searchtags_string").val(actual_searchtags_string+s);
                    
                    
                    $("#fields_form").submit();
                
                }

            });
            
            $(".erase_tag_button").click(function(){
            
                var tag_text = $(this).attr("tag_text");
            
                var actual_searchtags_string = $("#searchtags_string").attr("value");
                
                splitted_string = actual_searchtags_string.split("+");
                
                //Erase unwanted element from the array
              
                var index = splitted_string.indexOf(tag_text);
                
                if (index > -1) {
                    splitted_string.splice(index, 1);
                }

                var new_searchtags_string = "";

                //Make into a string, adding the necessary "+" symbols between elements
                for(var i=0; i < splitted_string.length; i++)
                {
                    
                    if(i != 0)
                    {
                        new_searchtags_string+="+";
                    }
                    
                    new_searchtags_string += splitted_string[i];
                    
                }

                
                $("#searchtags_string").attr("value",new_searchtags_string);
                $("#searchtags_string").val(new_searchtags_string);
            
                $(this).parent().remove();
                
                $("#fields_form").submit();
            
            });
            
            $("#generate_report_button").click(function(){
           
            
                $("#action_button_pressed").attr("value","generate_report");
    
                
                //var selected_transactions_list_string = $("#selected_transactions_list_string").attr("value");
                var selected_transactions_list_string = "";
               

                $(".ui-selected").each(function(){
                
                    $element = $(this);
                    

                    if($element.hasClass("transaction_search_candidate"))
                    {
                    
                        if(selected_transactions_list_string.length != 0)
                        {
                            selected_transactions_list_string += ",";
                        }
                        
                        selected_transactions_list_string += $element.attr("candidate_id");
                    }
                
                });

                $("#selected_transactions_list_string").attr("value",selected_transactions_list_string);
                
                $("#fields_form").submit();
            
                $("#action_button_pressed").attr("value","");
            });
            
            $("#add_to_template_button").click(function(){
            
                $("#action_button_pressed").attr("value","add_template");
                
                //var selected_transactions_list_string = $("#selected_transactions_list_string").attr("value");
                var selected_transactions_list_string = "";
               

                $(".ui-selected").each(function(){
                
                    $element = $(this);
                    

                    if($element.hasClass("transaction_search_candidate"))
                    {
                    
                        if(selected_transactions_list_string.length != 0)
                        {
                            selected_transactions_list_string += ",";
                        }
                        
                        selected_transactions_list_string += $element.attr("candidate_id");
                    }
                
                });
                
                $("#selected_transactions_list_string").attr("value",selected_transactions_list_string);
                
            
                $("#fields_form").submit();
            
            });
            
            $("#load_template_button").click(function(){
            
            
                $("#action_button_pressed").attr("value","load_template");
            
                $("#fields_form").submit();
            
            });
            
            $("#remove_template_button").click(function(){
            
            
                $("#action_button_pressed").attr("value","remove_template");
            
                $("#fields_form").submit();
            
            });
            
        
        }
        
        //$(".button").button();
        $( ".sortable_transaction_search" ).selectable({
        
            selected: function( event, ui ) {
            
                if($(ui.selected ).hasClass("transactions_list_description"))
                {
                    var score_id = $(ui.selected).attr("score_id");
                    
                    $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                    
                        if($(this).hasClass("ui-selected") == false)
                        {
                            $(this).addClass("ui-selected");
                        }
                        
                    });
                    
                    
                }
                
            },
            unselected: function( event, ui ) {
            
                if($(ui.unselected ).hasClass("transactions_list_description"))
                {
                    var score_id = $(ui.unselected).attr("score_id");
                    
                    $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                    
                        if($(this).hasClass("ui-selected") == true)
                        {
                            $(this).removeClass("ui-selected");
                        }
                        
                    });
                    
                    
                }
                
            }
        });
        
       $( "#select_saved_template_menu" ).menu({ position: { my: "left top", at: "left top+30" },
            select: function( event, ui ) {
                                    
                var first_elem = ui.item.parent().is($( "#select_saved_template_menu" ));
                
                if(!first_elem)
                {
                    
                    var new_text = ui.item.text();
                    $(".selectoption[value='"+new_text+"']").click();
                } 
            } 
        });
        
        $('.selectoption').click(function(){
        
            var new_text = $(this).text();
        
            $('#selected_template').unbind('copy paste', function (e) {
                            
            });
              
              $('#selected_template_link').text(new_text);
              $('#selected_template').attr("value",new_text);
              $('#selected_template').val(new_text);
              
                
            $('#selected_template').bind('copy paste', function (e) {
                    e.preventDefault();
            });
            
                $('#selected_template').click();
        });
        
        $('#select_saved_template_menu').removeClass('ui-menu-divider');
        
        $('#selected_template').unbind('click').click(function(event) {
        event.stopPropagation();
        $(this).unbind('focus').focus();
        $("#select_saved_template_menu").unbind('keydown');
        $(this).unbind('focusout').focusout(function(event) {
                                      
                var new_value = event.currentTarget.value;
                
                $('#selected_template_link').text(new_value);
                $(this).attr("value",new_value);
                
        
            }); 
        });
       
        loadCandidateSelection(selected_candidates_list);
        
        function loadCandidateSelection(selected_candidates){
        
            for(i=0;i<selected_candidates.length;i++)
            {
                $(".transaction_search_candidate[candidate_id='"+selected_candidates[i]+"']").addClass("ui-selected");

            }
        
        }
        
        // JACOB ADDED 
        
        $("#transaction_search_candidates .tablesorter").tablesorter().bind("sortStart",function() { 
            $("#tableLoader").show(); 
           }).bind("sortEnd",function() { 
            $("#tableLoader").hide(); 
        }); 
        
        $('tr').on('click', function(){

            if(!$('tr.ui-selected').length) {
            
                
                if($('#add_to_template_button').hasClass("active") == true)
                {
                    $('#add_to_template_button').removeClass('active');
                
                }
            
            } else {
            
                if($('#add_to_template_button').hasClass("active") == false)
                {
                    $('#add_to_template_button').addClass('active');
                }
            
                
            
            }
        })  
        
        $( "#transaction_search_candidates .tablesorter tbody" ).selectable({
            filter: "tr",
            selected: function( event, ui ) {
            
                if($(ui.selected ).hasClass("transactions_list_description"))
                {
                
                    var score_id = $(ui.selected).attr("score_id");
                    
                    $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                    
                        if($(this).hasClass("ui-selected") == false)
                        {
                            $(this).addClass("ui-selected");
                        }
                        
                        
                        
                    });
                    
                    
                }
                
            },
            unselected: function( event, ui ) {
            
                if($(ui.unselected ).hasClass("transactions_list_description"))
                {
                    var score_id = $(ui.unselected).attr("score_id");
                    
                    $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                    
                        if($(this).hasClass("ui-selected") == true)
                        {
                            $(this).removeClass("ui-selected");
                        }
                        
                    });
                    
                    
                }
                
            }
        });
        
        $('table.tablesorter').floatThead({
    scrollContainer: function($table){
		return $table.closest('.wrapper');
	}
})
        // END JACOB ADDED
        
        
    
        
    });
        
</script>

{% endblock jqueryui_setups %}  

<body>
{% if not is_popup %}

<!-- <div id = "LoadingScreen" class="invisible">
        <img id ="LoadingSpinner"  src = "{% static 'enersectapp/images/ajax-loader.gif' %}"/>
        <h4 id="LoadingDescription"></h4>
    </div> -->

{% block container_all %}

<div id="container_all">

{% block container_headers %}

<div id="container_headers">



</div>

{% endblock container_headers %}

{% block container_body %}

<div id="container_body">


{% block content%}
    <form id="fields_form" autocomplete="off" action="{% url 'enersectapp:transactions_report' %}" method="post">
    {% csrf_token %}
    
    <div id="upper_container">
        
        <div id="graph_container_right"> 
            
            <div id="transactions_lists_container">
            
                <div id="chosen_transaction_element">
                
                    <div id="chosen_transaction_content">
                    
                        <div id="iframe_test">
     
                        </div>

                    </div>

                </div>
                <div id="transaction_search_candidates">
                        
                        
                      
                                     
                        </tr>
                        </thead>
                        
                    <img id ="tableLoader"  src ="/static/enersectapp/images/ajax-loader.gif"/>
                    <div style="overflow:auto;height:99.9%;" class="wrapper" >
                    <table class="tablesorter">
                    
                        
                        
                        <thead>
                        <tr>
                            <th><div class="tableInner">Relevance</div></th>
                            <th><div class="tableInner">Transaction ID</div></th>
                            
                                {% for tag in searchtags %}
                                   <th><div class="tableInner">{{tag.tag_name}}</div></th>
                                 {% endfor %}
                        </tr>
                        </thead>
                        
                        <tbody>
                        
                        {% for ordered_list in final_list_ordered_score %}
                            {% for candidate in ordered_list.transactions_list %}
                        <tr class="candidate transaction_search_candidate" candidate_id={{candidate.TransactionIndex}} >
                            <!-- here we have to list all the tags and relevant data -->
                            <td><span class="star{{ordered_list.score_index}}"></span><span class="starNumber">{{ordered_list.score_index}}</span></td>
                            <td>{{candidate.TransactionIndex}}</td>
                        
                        </tr>
                        
                            {% endfor %}
                        {% endfor %}

                        
                        </tbody>
                     
                     
                    </table>
                    </div>
                
                
                    <!-- {% for ordered_list in final_list_ordered_score %}
                    <div class="transaction_search_candidates_list" score_index = "{{ordered_list.score_index}}">
                    
                        <ul class="sortable sortable_transaction_search">
                          <li class="list_description transactions_list_description ui-state-default" score_id={{ordered_list.score_index}}>Score: {{ordered_list.score_index}} ; Nº: {{ordered_list.transactions_list|length}} </li>
                          {% for candidate in ordered_list.transactions_list %}
                            <div class="candidate transaction_search_candidate ui-state-default" score_id={{ordered_list.score_index}} candidate_id={{candidate.TransactionIndex}}>
                                
                                <table class="candidate_table">
                                
                                    <thead>
                                        <tr>
                                            <th>{{candidate.TransactionIndex}}</th>
                                            {% for tag in searchtags %}
                                                
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th>Index</th>
                                            {% for tag in searchtags %}
                                                <th>{{tag.tag_name}}</th>
                                            {% endfor %}
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                
                                </table>
     
                                
                            </div>
                          {% endfor %}
                          
                        </ul>
                
                    </div>
                    {% endfor %} -->
                
                
                </div>
                <div id="search_config_panel">
                    {% if searchtags_string %}
                        <input type="text" class="invisible" name="searchtags_string" id="searchtags_string" value="{{searchtags_string}}" />
                        {% else %}
                        <!--<input type="text" name="searchtags_string" id="searchtags_string" value="Amount:1000+Piece_Number:120+Description:20" /> -->
                        <input type="text" class="invisible" name="searchtags_string" id="searchtags_string" value="" />
                        {% endif %}
                
                    <div id="search_tags_show_panel">
                        
                        
                        <ul>
                            <li>Select: <a href="#" data-event="selectAll">All</a> <a href="#" data-event="selectNone">None</a></li>
                            <li>By Relevance: </li>
                            <li>
                                <select multiple="" style=" height: 21px; width: 70px; ">
                                   
                                     {% for ordered_list in final_list_ordered_score %}
                                             <option>{{ordered_list.score_index}} ★</option>
                                         {% endfor %}
                                    
                                </select>
                            </li>
                            
                        </ul>
                        
                       
                        
                        
                        {% for tag in searchtags %}
                        
                        <div class="search_tag_unit">
                            <input type="button" class="erase_tag_button" value="X" tag_text="{{tag.tag_name}}:{{tag.tag_content}}" />
                            <div class="tag_text"><span>{{tag.tag_name}}</span>:<span>{{tag.tag_content}}</span></div>
                        </div>
                        
                        {% endfor %}
                        <a href="#" id="clearSearch">Clear All</a>
                    </div>
                    <div id="search_tags_create_panel"><img id="logo" src="http://subsumo.com/enersect-transaction-explorer.png" search_tags_tools_line"="">
                            
<select name="select_tagtype_menu" id="select_tagtype_menu" value="">
                                
                                    <option value="Amount">Amount</option>
                                
                                    <option value="Piece Number">Piece Number</option>
                                
                                    <option value="Company">Company</option>
                                
                                    <option value="Day">Day</option>
                                
                                    <option value="Month">Month</option>
                                
                                    <option value="Year">Year</option>
                                
                                    <option value="Complete Date">Complete Date</option>
                                
                                    <option value="Libdesc">Libdesc</option>
                                
                                    <option value="Description">Description</option>
                                
                                    <option value="Reftran">Reftran</option>
                                
                                    <option value="Bank Name">Bank Name</option>
                                
                                    <option value="Bank Account">Bank Account</option>
                                
                                    <option value="Bank Currency">Bank Currency</option>
                                
                                    <option value="Unique Transaction Index">Unique Transaction Index</option>
                                
                                    <option value="Movement Number">Movement Number</option>
                                
                                    <option value="INT Account Number">INT Account Number</option>
                                
                                    <option value="Exchange Rate">Exchange Rate</option>
                                
                                    <option value="Memo">Memo</option>
                                
                                    <option value="Lett">Lett</option>
                                
                            </select><select name="operator_menu" id="operator_menu" value="">
                                
                                    <option value="Amount">Operator</option>
                                
                                    <option value="Piece Number">Piece Number</option>
                                
                                    <option value="Company">Company</option>
                                
                                    <option value="Day">Day</option>
                                
                                    <option value="Month">Month</option>
                                
                                    <option value="Year">Year</option>
                                
                                    <option value="Complete Date">Complete Date</option>
                                
                                    <option value="Libdesc">Libdesc</option>
                                
                                    <option value="Description">Description</option>
                                
                                    <option value="Reftran">Reftran</option>
                                
                                    <option value="Bank Name">Bank Name</option>
                                
                                    <option value="Bank Account">Bank Account</option>
                                
                                    <option value="Bank Currency">Bank Currency</option>
                                
                                    <option value="Unique Transaction Index">Unique Transaction Index</option>
                                
                                    <option value="Movement Number">Movement Number</option>
                                
                                    <option value="INT Account Number">INT Account Number</option>
                                
                                    <option value="Exchange Rate">Exchange Rate</option>
                                
                                    <option value="Memo">Memo</option>
                                
                                    <option value="Lett">Lett</option>
                                
                            </select>
                            <input type="text" name="searchtags_input" id="searchtags_input" value="" placeholder="search...">
                            <input type="button" class="button" name="searchtag_add_button" id="searchtag_add_button" value="Search">
                            <input type="button" class="button" name="generate_report_button" id="generate_report_button" value="Generate Report">
                            
                            
                                <input type="button" class="button" name="add_to_template_button" id="add_to_template_button" value="Include in Template">
                                <input type="button" class="button" name="load_template_button" id="load_template_button" value="Load...">
                                <div id="template_select_section">
                                <ul name="select_saved_template_menu" id="select_saved_template_menu" value="" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-activedescendant="selected_template_link">
                                    <li class="ui-menu-item" role="presentation">
                                        <a id="selected_template_link" href="#" aria-haspopup="true" class="ui-corner-all" tabindex="-1" role="menuitem">sdfNew Template</a>
                                        <ul class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-expanded="false" aria-labelledby="selected_template_link" style="display: none; top: 35px; left: 2px;" aria-hidden="true">
                                            
                                            <li class="ui-menu-item" role="presentation"><a href="#" id="ui-id-1" class="ui-corner-all" tabindex="-1" role="menuitem"><input type="text" id="selected_template" name="selected_template" value="sdfNew Template"></a></li>
                                            
                                                                  
                                    
                                        </ul>
                                    </li>  
                                </ul>
                                </div>
                                <input type="button" class="button" name="remove_template_button" id="remove_template_button" value="Remove">
                                
                            </div>
                </div>
                
                
            </div>
        </div>
        


                

               
                
 
    </div>
        
        
        <input class="invisible" type="text" name="user_type" id="user_type" value="{{user_type}}" />

    </form>
    <div id="right_container">
        
                
    </div>
    
    
{% endblock content%}



</div>

{% endblock container_body %}

</div>

{% endblock container_all %}

{% endif %}
</body>


{% block sidebar %}{% endblock %}

