{% load i18n %}
{% load staticfiles %}


{% block page_title %}
<head>
<title>Transactions Report Tool</title>
</head>
{% endblock page_title %}

{% block config_libs %} 

<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jquery-ui-1.10.3.custom/css/eggplant/jquery-ui-1.10.3.custom.css' %}" />
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/d3/d3.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/tablesorter-master/js/jquery.tablesorter.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/tablesorter-master/js/jquery.tablesorter.widgets.js' %}"></script>
<script type="text/javascript" src="{% static 'enersectapp/tablesorter-master/addons/pager/jquery.tablesorter.pager.min.js' %}"></script>
<script  type="text/javascript" src="{% static 'enersectapp/floatThead.js' %}" ></script>
<script type="text/javascript" src="{% static 'enersectapp/tablesorter-master/js/widgets/widget-build-table.js' %}"></script>





{% endblock config_libs %}

{% block special_libs %}

<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/aristo/css/Aristo/Aristo.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'enersectapp/user_panel_module.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/site_basic_style_template.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'enersectapp/loadingscreen.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/transactions_report.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'enersectapp/jacob.css' %}" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">


{% endblock special_libs %}

{% block jqueryui_setups %}

<script>

    $(document).ready(function () {
        
        // JACOBS JQUERY
        
        $(window).on('resize', function(){
        
        $('#transaction_search_candidates').height(window.innerHeight - 140);
        $('#iframe_test').height(window.innerHeight - 160);
        
        })
        
        $('#transaction_search_candidates').height(window.innerHeight - 140);
        $('#iframe_test').height(window.innerHeight - 160);
        
        
        
        // END JACOBS JQUERY
        
        {% autoescape off %}
        
        console.log("STARTING PROGGGGGRAM");
        
                
        //var searchtags = {{searchtags}};
        //console.log(searchtags);
        var number_of_searchtags = {{number_of_searchtags}};
        console.log(number_of_searchtags);
      
        var selected_candidates_list = {{selected_candidates_list}};
        console.log(selected_candidates_list);
      
        //Saving all data from candidates into a javascript variable, to use later in the tablesorter as "data"
        
        all_candidates_data = {{final_list_ordered_score}};
        
        all_search_tags = {{non_repeated_searchtags}};
      
        console.log("------------!!!!!-----------------");
        
        {% endautoescape %}
        
        createLeftGraph();
        
        createRightGraph();

        candidateDatatoTablesorterFormat()
        
        setTimeout(continueSetup, 100);
        
        function continueSetup()
        {
            setTimeout(moreSetup, 100);
            setTimeout(initiateListeners, 100);
            //setupPager();
            
        }
        
        //Building the rows for the table, so can pass the object to TableSorter later
        function candidateDatatoTablesorterFormat() {
        
            rows_list = []
            
            if(all_candidates_data)
            {
            
                for(var i = 0; i < all_candidates_data.length;i++)
                {
                    if(all_candidates_data[i].transactions_list)
                    {
                        
                        for(var j = 0; j < all_candidates_data[i].transactions_list.length; j++)
                        {   
                            
                            row = {class:"candidate transaction_search_candidate", candidate_id:all_candidates_data[i].transactions_list[j].complete_item.TransactionIndex}
                            
                            row.cells = []
                            row.cells.push({ text: all_candidates_data[i].score_index+" ", class: 'star'+all_candidates_data[i].score_index });
                            row.cells.push({ text: all_candidates_data[i].transactions_list[j].complete_item.TransactionIndex });
                            row.cells.push({ text: all_candidates_data[i].transactions_list[j].complete_item.Amount });
                            row.cells.push({ text: all_candidates_data[i].transactions_list[j].complete_item.CompleteValueDate });
                            row.cells.push({ text: evaluateAddToRow("Piece Number",all_candidates_data[i].transactions_list[j]) });
                            row.cells.push({ text: evaluateAddToRow("Company",all_candidates_data[i].transactions_list[j]) });
                            row.cells.push({ text: evaluateAddToRow("Movement Number",all_candidates_data[i].transactions_list[j]) });
                            
                            if(all_search_tags)
                            {
                            
                                for(var k = 0; k < all_search_tags.length; k++)
                                {
                                    if(all_search_tags[k] != "Amount" && all_search_tags[k] != "Complete Date" && all_search_tags[k] != "Piece Number" && all_search_tags[k] != "Company" && all_search_tags[k] != "Movement Number")
                                    {
                                        row.cells.push({ text: evaluateAddToRow(all_search_tags[k],all_candidates_data[i].transactions_list[j]) });
                                        //row.cells.push(evaluateAddToRow(all_search_tags[k],all_candidates_data[i].transactions_list[j]));
                                    }
                                
                                }
                            
                            }
                            
                            rows_list.push(row);
                        }
                        
                    }
                }
            }
            
            headers_list = []
            
            headers_row = [
                    // each object/string is a cell
                    
                    { text: 'Relevance', class: 'tableInner'}, // row 0 cell 1
                    { text: 'Transaction ID', class: 'tableInner'},                                        // row 0 cell 2
                    { text: 'Amount', class: 'tableInner'},  // row 0 cell 3
                    { text: 'Complete Date', class: 'tableInner'},
                    { text: 'Piece Number', class: 'tableInner'},
                    { text: 'Company', class: 'tableInner'},
                    { text: 'Movement Number', class: 'tableInner'},
            ]
            
            if(all_search_tags)
            {
            
                for(var k = 0; k < all_search_tags.length; k++)
                {
                    if(all_search_tags[k] != "Amount" && all_search_tags[k] != "Complete Date" && all_search_tags[k] != "Piece Number" && all_search_tags[k] != "Company" && all_search_tags[k] != "Movement Number")
                    {
                        headers_row.push({text: all_search_tags[k], class: 'theader' });
                    }
                
                }
            
            }
            
            headers_list.push(headers_row);
            
            console.log(rows_list);
            
            dataObject = {
                
                headers : headers_list,

                rows : rows_list
            
            
            }
            
        }
        
        function evaluateAddToRow(tag_name,complete_item){

            var final_value = "-";
            
            if(tag_name == "Piece Number")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].NoPiece;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].NoPiece;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Company")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].Company;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].Company;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Day")
            {
                if(complete_item.internal_records.length == 1)
                {
                    console.log(complete_item.internal_records[0].ValueDay)
                    final_value = complete_item.internal_records[0].ValueDay;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].ValueDay;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Month")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].ValueMonth;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].ValueMonth;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Day")
            {
                final_value = complete_item.complete_item.ValueDay;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Month")
            {
                final_value = complete_item.complete_item.ValueMonth;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Year")
            {
                final_value = complete_item.complete_item.ValueYear;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Libdesc")
            {
                final_value = complete_item.complete_item.Libdesc;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Description")
            {
                if(complete_item.bank_records.length == 1)
                {
                    final_value = complete_item.bank_records[0].Description;
                    
                }
                else if(complete_item.bank_records.length > 1)
                {
                    for(record in complete_item.bank_records)
                    {
                        temp_value = complete_item.bank_records[record].Description;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Reftran")
            {
                final_value = complete_item.complete_item.Reftran;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Bank Name")
            {
                final_value = complete_item.complete_item.BankName;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Bank Account")
            {
                final_value = complete_item.complete_item.BankAccount;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Bank Currency")
            {
                final_value = complete_item.complete_item.BankCurrency;
                
                if(final_value == "*") final_value = "-";
            }
            if(tag_name == "Movement Number")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].NoMvt;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].NoMvt;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "INT Account Number")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].AccountNum;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].AccountNum;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Exchange Rate")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].ExchangeRate;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].ExchangeRate;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Memo")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].Memo;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].Memo;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            if(tag_name == "Lett")
            {
                if(complete_item.internal_records.length == 1)
                {
                    final_value = complete_item.internal_records[0].Lett;
                    
                }
                else if(complete_item.internal_records.length > 1)
                {
                    for(record in complete_item.internal_records)
                    {
                        temp_value = complete_item.internal_records[record].Lett;
                        
                        if(!temp_value) temp_value = "-";
                        
                        final_value += temp_value+"|"
                    }
                
                }
            }
            
            if(!final_value) final_value = "-";
            
            return final_value
        }
        
        function createLeftGraph(){
             
        
            /*$( ".entry_item_candidates_list" ).droppable({
              accept: ".candidate",
              activeClass: "ui-state-hover",
              hoverClass: "ui-state-active",
              out: function( event, ui ) {
              
                var transactionId = ui.draggable.attr("candidate_id");
                var listType = $(this).attr("list_type");

                var entryId = $("#selected_transaction").attr("value");
                
                var operationType = "remove";

                //$("#helper_add_remove_transaction").remove();
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe class="helper_add_remove_transaction" src="/enersectapp/'+entryId+'/'+transactionId+'/'+listType+'/'+operationType+'/add_or_remove_transaction/" width="500px" height="500px" frameBorder="0"></iframe>'
                
                $("body").append(frame);
                
                
              },
              drop: function( event, ui ) {
              
                var transactionId = ui.draggable.attr("candidate_id");
                var listType = $(this).attr("list_type");

                var entryId = $("#selected_transaction").attr("value");
                
                var operationType = "add";

                //$("#helper_add_remove_transaction").remove();
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe class="helper_add_remove_transaction" src="/enersectapp/'+entryId+'/'+transactionId+'/'+listType+'/'+operationType+'/add_or_remove_transaction/" width="500px" height="500px" frameBorder="0"></iframe>'
                
                $("body").append(frame);
                
              }
            });*/
            
            /*$( ".sortable" ).sortable({
              connectWith: "ul",
              items: "li:not(.list_description)"
            });
            
            $( ".sortable1, .sortable2, .sortable3" ).disableSelection();*/
        
        }
    
        function createRightGraph(){
        
            var total_width_panel = $("#transaction_search_candidates").css("width");
            
            new_width_panel = total_width_panel
            //var new_width_panel = Math.floor(parseInt(total_width_panel)/(number_of_searchtags+1));
            //var new_font_size = $("#transaction_search_candidates").css("font-size",100-(10*(number_of_searchtags/number_of_searchtags))+"%");
            
            $(".transaction_search_candidates_list").css("width",new_width_panel+"px");
            
            $(".transaction_search_candidates_list").css("display","inline-block");
            
            var candidate_width = $(".entry_item_candidates_list .candidate").width();
            
            $(".sortable_transaction_search .transaction_search_candidate").each(function(){
            
                if($(this).width()!=candidate_width)
                {
                    $(this).css("width",candidate_width+"px");
                }
                
            
            });
            
            
           
        }
        
    
        function initiateListeners() {
        
            //When Mouse over one of the Candidates, update the iframe to show that Transaction
            
            $(".candidate").click(function(){
                
                $("#transaction_search_candidates").css("width","45%");
                
                if($(this).hasClass("been-clicked4")) { $(this).addClass("been-clicked5");  $(this).removeClass("been-clicked4");}
                if($(this).hasClass("been-clicked3")) { $(this).addClass("been-clicked4"); $(this).removeClass("been-clicked3"); }
                if($(this).hasClass("been-clicked2")) { $(this).addClass("been-clicked3"); $(this).removeClass("been-clicked2"); }
                if($(this).hasClass("been-clicked1")) { $(this).addClass("been-clicked2"); $(this).removeClass("been-clicked1"); }
                
                if($(this).hasClass("been-clicked") == false) { $(this).addClass("been-clicked1"); $(this).addClass("been-clicked"); }
                
  
                $("#transaction_graph").remove();
                
                var frame_width = $("#iframe_test").width()-10+"px";
                var frame_height = $("#iframe_test").height()-10+"px";
                
                var candidate_id = $(this).attr("candidate_id");
                
                var frame = '<iframe id="transaction_graph" src="/enersectapp/'+candidate_id+'/show_transaction/" width='+frame_width+' height='+frame_height+' frameBorder="0"></iframe>'
                
                $("#iframe_test").append(frame);
                
            });
            
        
            $("#searchtag_add_button").click(function(){
            
                var actual_searchtags_string = $("#searchtags_string").attr("value");
                
                var new_tag_type = $("#select_tagtype_menu").val();
                var new_tag_content = $("#searchtags_input").val();
                var new_tag_operator = $("#operator_menu").val();
                
                
                if(new_tag_content)
                {
                
                     var s = "";
                
                    if(actual_searchtags_string.length != 0)
                    {
                        s+="+";
                    }
                    
                    s+=new_tag_type+":"+new_tag_content;
                    s+=":"+new_tag_operator;
                    
                    
                    
                    $("#searchtags_string").val(actual_searchtags_string+s);
                    
                    
                    $("#fields_form").submit();
                
                }

            });
            
            $(".erase_tag_button").click(function(){
            
                var tag_text = $(this).attr("tag_text");
            
                var actual_searchtags_string = $("#searchtags_string").attr("value");
                
                splitted_string = actual_searchtags_string.split("+");
                
                //Erase unwanted element from the array
              
                var index = splitted_string.indexOf(tag_text);
                
                if (index > -1) {
                    splitted_string.splice(index, 1);
                }

                var new_searchtags_string = "";

                //Make into a string, adding the necessary "+" symbols between elements
                for(var i=0; i < splitted_string.length; i++)
                {
                    
                    if(i != 0)
                    {
                        new_searchtags_string+="+";
                    }
                    
                    new_searchtags_string += splitted_string[i];
                    
                }

                
                $("#searchtags_string").attr("value",new_searchtags_string);
                $("#searchtags_string").val(new_searchtags_string);
            
                $(this).parent().remove();
                
                $("#fields_form").submit();
            
            });
            
            $("#generate_report_button").click(function(){
           
            
                $("#action_button_pressed").attr("value","generate_report");
    
                
                //var selected_transactions_list_string = $("#selected_transactions_list_string").attr("value");
                var selected_transactions_list_string = "";
               

                $(".ui-selected").each(function(){
                
                    $element = $(this);
                    

                    if($element.hasClass("transaction_search_candidate"))
                    {
                    
                        if(selected_transactions_list_string.length != 0)
                        {
                            selected_transactions_list_string += ",";
                        }
                        
                        selected_transactions_list_string += $element.attr("candidate_id");
                    }
                
                });

                $("#selected_transactions_list_string").attr("value",selected_transactions_list_string);
                
                $("#fields_form").submit();
            
                $("#action_button_pressed").attr("value","");
            });
            
            $("#add_to_template_button").click(function(){
            
                $("#action_button_pressed").attr("value","add_template");
                
                //var selected_transactions_list_string = $("#selected_transactions_list_string").attr("value");
                var selected_transactions_list_string = "";
               

                $(".ui-selected").each(function(){
                
                    $element = $(this);
                    

                    if($element.hasClass("transaction_search_candidate"))
                    {
                    
                        if(selected_transactions_list_string.length != 0)
                        {
                            selected_transactions_list_string += ",";
                        }
                        
                        selected_transactions_list_string += $element.attr("candidate_id");
                    }
                
                });
                
                $("#selected_transactions_list_string").attr("value",selected_transactions_list_string);
                
            
                $("#fields_form").submit();
            
            });
            
            $("#load_template_button").click(function(){
            
            
                $("#action_button_pressed").attr("value","load_template");
            
                $("#fields_form").submit();
            
            });
            
            $("#remove_template_button").click(function(){
            
            
                $("#action_button_pressed").attr("value","remove_template");
            
                $("#fields_form").submit();
            
            });
            
            $("#selectAll").click(function(){
            
            
                $("tbody tr").each(function(){
                
                    self = $(this);
                    
                    if(self.hasClass("ui-selected") == false)
                    {
                    
                        self.addClass("ui-selected");
                    
                    }
                
                });
 
            });
            
            $("#selectNone").click(function(){
            
            
                $("tbody tr").each(function(){
                
                    self = $(this);
                    
                    if(self.hasClass("ui-selected") == true)
                    {
                    
                        self.removeClass("ui-selected");
                    
                    }
                
                });
 
            });
            
            $("#content_list_button").click(function(){
            
            
                $("#action_button_pressed").attr("value","content_list_export");
            
                $("#fields_form").submit();
 
            });
            
            
        
        }
        
        function moreSetup()
        {
            //$(".button").button();
            $( ".sortable_transaction_search" ).selectable({
            
                selected: function( event, ui ) {
                
                    if($(ui.selected ).hasClass("transactions_list_description"))
                    {
                        var score_id = $(ui.selected).attr("score_id");
                        
                        $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                        
                            if($(this).hasClass("ui-selected") == false)
                            {
                                $(this).addClass("ui-selected");
                            }
                            
                        });
                        
                        
                    }
                    
                },
                unselected: function( event, ui ) {
                
                    if($(ui.unselected ).hasClass("transactions_list_description"))
                    {
                        var score_id = $(ui.unselected).attr("score_id");
                        
                        $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                        
                            if($(this).hasClass("ui-selected") == true)
                            {
                                $(this).removeClass("ui-selected");
                            }
                            
                        });
                        
                        
                    }
                    
                }
            });
            
           $( "#select_saved_template_menu" ).menu({ position: { my: "left top", at: "left top+30" },
                select: function( event, ui ) {
                                        
                    var first_elem = ui.item.parent().is($( "#select_saved_template_menu" ));
                    
                    if(!first_elem)
                    {
                        
                        var new_text = ui.item.text();
                        $(".selectoption[value='"+new_text+"']").click();
                    } 
                } 
            });
            
            $('.selectoption').click(function(){
            
                var new_text = $(this).text();
            
                $('#selected_template').unbind('copy paste', function (e) {
                                
                });
                  
                  $('#selected_template_link').text(new_text);
                  $('#selected_template').attr("value",new_text);
                  $('#selected_template').val(new_text);
                  
                    
                $('#selected_template').bind('copy paste', function (e) {
                        e.preventDefault();
                });
                
                    $('#selected_template').click();
            });
            
            $('#select_saved_template_menu').removeClass('ui-menu-divider');
            
            $('#selected_template').unbind('click').click(function(event) {
            event.stopPropagation();
            $(this).unbind('focus').focus();
            $("#select_saved_template_menu").unbind('keydown');
            $(this).unbind('focusout').focusout(function(event) {
                                          
                    var new_value = event.currentTarget.value;
                    
                    $('#selected_template_link').text(new_value);
                    $(this).attr("value",new_value);
                    
            
                }); 
            });
           
            loadCandidateSelection(selected_candidates_list);
            
            function loadCandidateSelection(selected_candidates){
            
                for(i=0;i<selected_candidates.length;i++)
                {
                    $(".transaction_search_candidate[candidate_id='"+selected_candidates[i]+"']").addClass("ui-selected");

                }
            
            }
            
            // JACOB ADDED 
            

            
            var tablesorter_options = {
                widthFixed : false,
                showProcessing: true,
                //headerTemplate : '{content} {icon}', // Add icon for jui theme; new in v2.7!

                widgets: ['stickyHeaders', 'filter'],

                data: dataObject,
                
                widgetOptions: {


                  // *** build object options ***
                  build_objectRowKey    : 'rows',    // object key containing table rows
                  build_objectCellKey   : 'cells',   // object key containing table cells (within the rows object)
                  build_objectHeaderKey : 'headers', // object key containing table headers
                  build_objectFooterKey : 'footers',  // object key containing table footers
                  
                
                  // extra class name added to the sticky header row
                  stickyHeaders : '',
                  // number or jquery selector targeting the position:fixed element
                  stickyHeaders_offset : 0,
                  // added to table ID, if it exists
                  stickyHeaders_cloneId : '-sticky',
                  // trigger "resize" event on headers
                  stickyHeaders_addResizeEvent : true,
                  // if false and a caption exist, it won't be included in the sticky header
                  stickyHeaders_includeCaption : true,
                  // The zIndex of the stickyHeaders, allows the user to adjust this to their needs
                  stickyHeaders_zIndex : 2,
                  // jQuery selector or object to attach sticky header to
                  stickyHeaders_attachTo : null,
                  // scroll table top into view after filtering
                  stickyHeaders_filteredToTop: true,

                  // adding zebra striping, using content and default styles - the ui css removes the background from default
                  // even and odd class names included for this demo to allow switching themes
                  zebra   : ["ui-widget-content even", "ui-state-default odd"],
                  // use uitheme widget to apply defauly jquery ui (jui) class names
                  // see the uitheme demo for more details on how to change the class names
                  uitheme : 'black'
                }
              };
            
            tablesorter_options.widgetOptions.stickyHeaders_attachTo = $('.wrapper'); // or $('.wrapper')
                    
            $("#transaction_search_candidates .tablesorter").tablesorter(tablesorter_options).bind("sortStart",function() { 
                $("#tableLoader").show(); 
               }).bind("sortEnd",function() { 
                $("#tableLoader").hide(); 
                
            });
            
     
            $('tbody tr').on('click', function(){

                if(!$('tbody tr.ui-selected').length) {
                
                    
                    if($('#add_to_template_button').hasClass("active") == true)
                    {
                        $('#add_to_template_button').removeClass('active');
                    
                    }
                
                } else {
                
                    if($('#add_to_template_button').hasClass("active") == false)
                    {
                        $('#add_to_template_button').addClass('active');
                    }
                
                    
                
                }
            })  
            
            $( "#transaction_search_candidates .tablesorter tbody" ).selectable({
                filter: "tr",
                selected: function( event, ui ) {
                
                    if($(ui.selected ).hasClass("transactions_list_description"))
                    {
                    
                        var score_id = $(ui.selected).attr("score_id");
                        
                        $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                        
                            if($(this).hasClass("ui-selected") == false)
                            {
                                $(this).addClass("ui-selected");
                            }
                            
                            
                            
                        });
                        
                        
                    }
                    
                },
                unselected: function( event, ui ) {
                
                    if($(ui.unselected ).hasClass("transactions_list_description"))
                    {
                        var score_id = $(ui.unselected).attr("score_id");
                        
                        $(".transaction_search_candidate[score_id="+score_id+"]").each(function(){
                        
                            if($(this).hasClass("ui-selected") == true)
                            {
                                $(this).removeClass("ui-selected");
                            }
                            
                        });
                        
                        
                    }
                    
                }
            });
            
            /*$('table.tablesorter').floatThead({
        scrollContainer: function($table){
            return $table.closest('.wrapper');
        }
    })*/
            // END JACOB ADDED
        }
        
        function setupPager()
        {
        
            $('.tablesorter').trigger('update');
        
            $(".tablesorter").tablesorterPager({

            // target the pager markup - see the HTML block below
            container: $(".pager"),
            
            
            // use this url format "http:/mydatabase.com?page={page}&size={size}" 
            ajaxUrl: null,


            // process ajax so that the data object is returned along with the
            // total number of rows; example:
            // {
            //   "data" : [{ "ID": 1, "Name": "Foo", "Last": "Bar" }],
            //   "total_rows" : 100 
            // } 
            ajaxProcessing: function(ajax) {
                
                /*formatted_data = []
                
                number_columns = dataObject.headers[0].length

                for(row in dataObject.rows)
                {
                    temp_row = {}
                    for(row_item in dataObject.rows[row].cells)
                    {
                        temp_row.dataObject.headers[row_item] = dataObject.rows[row].cells[row_item]
                    }
                    formatted_data.append(temp_row)
                }
                
                total_rows = dataObject.rows.length*/

                return [dataObject.rows.length,dataObject.rows,dataObject.headers]
                
            },

            // output string - default is '{page}/{totalPages}';
            // possible variables:
            // {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
            output: '{startRow} to {endRow} ({totalRows})',

            // apply disabled classname to the pager arrows when the rows at
            // either extreme is visible - default is true
            updateArrows: true,

            // starting page of the pager (zero based index)
            page: 0,

            // Number of visible rows - default is 10
            size: 10,

            // if true, the table will remain the same height no matter how many
            // records are displayed. The space is made up by an empty 
            // table row set to a height to compensate; default is false 
            fixedHeight: true,

            // remove rows from the table to speed up the sort of large tables.
            // setting this to false, only hides the non-visible rows; needed
            // if you plan to add/remove rows with the pager enabled.
            removeRows: false,

            // css class names of pager arrows
            // next page arrow
            cssNext: '.next',
            // previous page arrow
            cssPrev: '.prev',
            // go to first page arrow
            cssFirst: '.first',
            // go to last page arrow
            cssLast: '.last',
            // select dropdown to allow choosing a page
            cssGoto: '.gotoPage',
            // location of where the "output" is displayed
            cssPageDisplay: '.pagedisplay',
            // dropdown that sets the "size" option
            cssPageSize: '.pagesize',
            // class added to arrows when at the extremes 
            // (i.e. prev/first arrows are "disabled" when on the first page)
            // Note there is no period "." in front of this class name
            cssDisabled: 'disabled'
        
            });
            
            $('.tablesorter').trigger('update');
            
            
        }
    
    });
        
</script>

{% endblock jqueryui_setups %}  

<body>
{% if not is_popup %}

<!-- <div id = "LoadingScreen" class="invisible">
        <img id ="LoadingSpinner"  src = "{% static 'enersectapp/images/ajax-loader.gif' %}"/>
        <h4 id="LoadingDescription"></h4>
    </div> -->

{% block container_all %}

<div id="container_all">

{% block container_headers %}

<div id="container_headers">



</div>

{% endblock container_headers %}

{% block container_body %}

<div id="container_body">


{% block content%}
    <form id="fields_form" autocomplete="off" action="{% url 'enersectapp:transactions_report' %}" method="post">
    {% csrf_token %}
    
    <div id="upper_container">
        
        <div id="graph_container_right"> 
            
            <div id="transactions_lists_container">
            
                <div id="chosen_transaction_element">
                
                    <div id="chosen_transaction_content">
                    
                        <div id="iframe_test">
     
                        </div>

                    </div>

                </div>
                <div id="transaction_search_candidates">
                        
                    <img id ="tableLoader"  src ="/static/enersectapp/images/ajax-loader.gif"/>
                    <div style="overflow:auto;height:99.9%;" class="wrapper" >
                    
                    <div class="tablesorter"></div>
                    
                    <!-- <div id="pager" class="pager">
                                <form>
                                    <img src="/static/enersectapp/tablesorter-master/addons/pager/icons/first.png" class="first">
                                    <img src="/static/enersectapp/tablesorter-master/addons/pager/icons/prev.png" class="prev">
                                    <input type="text" class="pagedisplay" readonly>
                                    <img src="/static/enersectapp/tablesorter-master/addons/pager/icons/next.png" class="next">
                                    <img src="/static/enersectapp/tablesorter-master/addons/pager/icons/last.png" class="last">
                                    <select class="pagesize">
                                        <option value="5">5</option>
                                        <option selected="selected" value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <select class="gotoPage" title="Select page number"></select>
                                </form>
                    </div> -->
                    
                    
                    </div>
                   
                
                
                    <!-- {% for ordered_list in final_list_ordered_score %}
                    <div class="transaction_search_candidates_list" score_index = "{{ordered_list.score_index}}">
                    
                        <ul class="sortable sortable_transaction_search">
                          <li class="list_description transactions_list_description ui-state-default" score_id={{ordered_list.score_index}}>Score: {{ordered_list.score_index}} ; Nº: {{ordered_list.transactions_list|length}} </li>
                          {% for candidate in ordered_list.transactions_list %}
                            <div class="candidate transaction_search_candidate ui-state-default" score_id={{ordered_list.score_index}} candidate_id={{candidate.TransactionIndex}}>
                                
                                <table class="candidate_table">
                                
                                    <thead>
                                        <tr>
                                            <th>{{candidate.TransactionIndex}}</th>
                                            {% for tag in searchtags %}
                                                
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th>Index</th>
                                            {% for tag in searchtags %}
                                                <th>{{tag.tag_name}}</th>
                                            {% endfor %}
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                
                                </table>
     
                                
                            </div>
                          {% endfor %}
                          
                        </ul>
                
                    </div>
                    {% endfor %} -->
                
                
                </div>
                <div id="search_config_panel">
                    {% if searchtags_string %}
                        <input type="text" class="invisible" name="searchtags_string" id="searchtags_string" value="{{searchtags_string}}" />
                        {% else %}
                        <!--<input type="text" name="searchtags_string" id="searchtags_string" value="Amount:1000+Piece_Number:120+Description:20" /> -->
                        <input type="text" class="invisible" name="searchtags_string" id="searchtags_string" value="" />
                        {% endif %}
                
                    <div id="search_tags_show_panel">
                        
                        
                        <ul>
                            <li>Select: <a href="#" data-event="selectAll" id="selectAll">All</a> <a href="#" id="selectNone" data-event="selectNone">None</a></li>
                            <li>By Relevance: </li>
                            <li>
                                <select multiple="" style=" height: 21px; width: 70px; ">
                                   
                                     {% for ordered_list in final_list_ordered_score %}
                                             <option>{{ordered_list.score_index}} ★</option>
                                     {% endfor %}
                                    
                                </select>
                            </li>
                            
                        </ul>
                        
                       
                        
                        
                        {% for tag in searchtags %}
                        
                        <div class="search_tag_unit">
                            <input type="button" class="erase_tag_button" value="X" tag_text="{{tag.tag_name}}:{{tag.tag_content}}:{{tag.tag_operator}}" />
                            <div class="tag_text"><span>{{tag.tag_name}}</span>:<span>{{tag.tag_content}}</span>:
                            <span>
                            {% if tag.tag_operator == "exact"%}
                             =
                            {% elif tag.tag_operator == "contains"%}
                             &#8715
                            {% elif tag.tag_operator == "greater_than"%}
                             >
                            {% elif tag.tag_operator == "less_than"%}
                             <
                            {% elif tag.tag_operator == "exclude"%}
                             &#8855
                            {% else %}
                            {% endif %}
                            </span>
                            </div>
                        </div>
                        
                        {% endfor %}
                        <a href="{% url 'enersectapp:transactions_report' %}" id="clearSearch">Clear All</a>
                    </div>
                    
                    <div id="search_tags_create_panel"><img id="logo" src="/static/enersectapp/images/enersect-transaction-explorer.png" search_tags_tools_line"="">
                     <input type="button" class="button" name="content_list_button" id="content_list_button" value="L">  
                     <img id="icon-list" src="/static/enersectapp/images/icon-list.png">
<select name="select_tagtype_menu" id="select_tagtype_menu" value="">
                                
                                    <option value="Amount">Amount</option>
                                
                                    <option value="Piece Number">Piece Number</option>
                                
                                    <option value="Company">Company</option>
                                
                                    <option value="Day">Day</option>
                                
                                    <option value="Month">Month</option>
                                
                                    <option value="Year">Year</option>
                                
                                    <option value="Complete Date">Complete Date</option>
                                
                                    <option value="Libdesc">Libdesc</option>
                                
                                    <option value="Description">Description</option>
                                
                                    <option value="Reftran">Reftran</option>
                                
                                    <option value="Bank Name">Bank Name</option>
                                
                                    <option value="Bank Account">Bank Account</option>
                                
                                    <option value="Bank Currency">Bank Currency</option>
                                
                                    <option value="Unique Transaction Index">Unique Transaction Index</option>
                                
                                    <option value="Movement Number">Movement Number</option>
                                
                                    <option value="INT Account Number">INT Account Number</option>
                                
                                    <option value="Exchange Rate">Exchange Rate</option>
                                
                                    <option value="Memo">Memo</option>
                                
                                    <option value="Lett">Lett</option>
                                
                            </select><select name="operator_menu" id="operator_menu" value="">
                                
                                    <option value="exact"> = (Exact) </option>
                                
                                    <option value="contains">&#8715 (Contains)</option>
                                
                                    <option value="greater_than">> (Greater than)</option>
                                
                                    <option value="less_than">< (Less than)</option>
                                
                                    <option value="exclude"> &#8855 (Exclude)</option>

                            </select>
                            
                            <input type="text" name="searchtags_input" id="searchtags_input" value="" placeholder="search...">
                            <input type="button" class="button" name="searchtag_add_button" id="searchtag_add_button" value="Search">
                            <input type="button" class="button" name="generate_report_button" id="generate_report_button" value="Generate Report">
                            
                            
                                <input type="button" class="button" name="add_to_template_button" id="add_to_template_button" value="Include in Template">
                                <input type="button" class="button" name="load_template_button" id="load_template_button" value="Load...">
                                <div id="template_select_section">
                                <ul name="select_saved_template_menu" id="select_saved_template_menu" value="" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-activedescendant="selected_template_link">
                                    <li class="ui-menu-item" role="presentation">
                                        <a id="selected_template_link" href="#" aria-haspopup="true" class="ui-corner-all" tabindex="-1" role="menuitem">New Template</a>
                                        <ul class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-expanded="false" aria-labelledby="selected_template_link" style="display: none; top: 35px; left: 2px;" aria-hidden="true">
                                            
                                            <li class="ui-menu-item" role="presentation"><a href="#" id="ui-id-1" class="ui-corner-all" tabindex="-1" role="menuitem"><input type="text" id="selected_template" name="selected_template" value="New Template"></a></li>
                                            
                                                                  
                                    
                                        </ul>
                                    </li>  
                                </ul>
                                </div>
                                <input type="button" class="button" name="remove_template_button" id="remove_template_button" value="Remove">
                                
                                <input type="input" class="invisible" name="action_button_pressed" id="action_button_pressed" value="">
                            </div>
                </div>
                
                
            </div>
        </div>
        


                

               
                
 
    </div>
        
        
        <input class="invisible" type="text" name="user_type" id="user_type" value="{{user_type}}" />

    </form>
    <div id="right_container">
        
                
    </div>
    
    
{% endblock content%}



</div>

{% endblock container_body %}

</div>

{% endblock container_all %}

{% endif %}
</body>


{% block sidebar %}{% endblock %}

