@charset "UTF-8";

html, body{
	
	/*background:url("images/body.jpg");*/
    background:url("images/body.jpg");
	background-repeat:repeat;

	color:#fff;
	letter-spacing:1px;
	font-family:Georgia, "Times New Roman", Times, serif;
    
    
    background-color:#202020 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#171717)) !important;
    background-image: -webkit-linear-gradient(top, #202020, #171717) !important;
    background-image:    -moz-linear-gradient(top, #202020, #171717) !important;
    background-image:     -ms-linear-gradient(top, #202020, #171717) !important;
    background-image:      -o-linear-gradient(top, #202020, #171717) !important;
    background-image:         linear-gradient(top, #202020, #171717) !important;

}

.ui-widget {
    font-size:80% ;
}

        
    .ui-dialog .ui-state-error { padding: .3em; }
     .validateTips { border: 1px solid transparent; padding: 0.3em; }
    
    .ui-dialog-titlebar-close {
        display: none;
    }
    
    .ui-widget-overlay {
        display: none;
    }
    
    .ui-menu {
        width: 70% !important;
        
    }
    
    
    .menu_text{
        margin-left: 1% !important;
        padding-left: 2% !important;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
   
    }
    
    
    .divisor-line {
    
        width: 92%;
        margin-left: 1%;

        height: 0.5%;
        border: 1px dashed silver;

    }
    
   
    #toolspanel_container {
    
        position:absolute;
        
        left:-15.4%;
        top:79.5%;
        
        width:10%;
        height:36.5%;
        
        
              
        
    }
    
    /*Title User Panel Container*/
    #ui-id-1 {
        font-size: 80%;
    }
    

    

.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #51b072 url("images/ui-bg_highlight-hard_20_51b072_1x100.png") 50% 50% repeat-x;
	color: #030303;
}

.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #e9a355 url("images/ui-bg_highlight-hard_20_e9a355_1x100.png") 50% 50% repeat-x;
	
}
