@charset "UTF-8";


#left_container {

    position:absolute;
    
    width:22%;
    height:100%;
    
    left: 78%;
    top: 0%;
    
    overflow:hidden;
    
}
    
   
   
    #fields_container {
        position: absolute;
        width: 96%;
        height: 99%;
        
        top: 0.6%;
        left: 1%;
        
       overflow-x:hidden;
       overflow-y:auto;
    }
    
    #dialog-form label, #dialog-form  input { display:block; }
    #dialog-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #fieldset_fields { padding:0; border:0; margin-top:12%; overflow:hidden;}
    #fieldset_fields ul{ width:93%; margin-top:8%; margin-bottom:8%; overflow:hidden}
    #dialog-form h1 { font-size: 1.2em; margin: .6em 0; }
    
   

#right_container {

    position:absolute;
    
    width:77%;
    height:100%;
    
    left:12.2%;
    top:0;
    


}

    #filters_panel {
    
        position: absolute;
        left:-13.4%;
        top:3%;
        
        width:10%;
        height:40%;
        
        
    }
    
        .show-option {
            
            position: relative;
            
            margin-left:1%;
            margin-top:1%;
            
            width: 98%;
            height: 20%;
              
            
        }
        
        
    
