@charset "UTF-8";

#left_container {

    position:absolute;
    
    width:80%;
    height:100%;
    
    left: 10%;
    top: 0%;
    
    overflow:visible;
    
}

    #filters_panel {
    
        position: absolute;
        width: 97%;
        height: 19%;
        
        top: 0.5%;
        left: -12%;
        
        z-index:10;
    }
    
        .show-option {
            
            position: relative;
            
            margin-left:1%;
            margin-top:1%;
            
            width: 98%;
            height: 20%;
              
            
        }
        
        #filter_container_date {
        
            position:relative;
            
            margin-top:7% !important;
        }
        
        .filter_choice{

            
        }
   
    #fields_container {
        position: absolute;
        width: 100%;
        height: 100%;
        
        top: 0%;
        left: 0%;
        
       overflow-x:visible;
       overflow-y:auto;
    }
    
    #dialog-form label, #dialog-form  input { display:block; }
    #dialog-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #fieldset_fields { padding:0; border:0; margin-top:1%; margin-left:12%; overflow:visible;}
    #fieldset_fields ul{ width:100%; overflow:visible;}
    #dialog-form h1 { font-size: 1.2em;  }
    

    

#right_container {

    position:absolute;
    
    width:77%;
    height:100%;
    
    left:0.2%;
    top:0;
    


}
