#pdf_view {

    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
     
}

#pdf_view  object {
    position:absolute;
    left:0;
    top:0;
    display:block;
        
    z-index:10;
}