@charset "UTF-8";


#left_container {

    position:absolute;
    
    width:80%;
    height:100%;
    
    left: 10%;
    top: 0%;
    
    overflow:visible;
    
}

    
    

#right_container {

    position:absolute;
    
    width:77%;
    height:100%;
    
    left:0.2%;
    top:0;
    


}



