@charset "UTF-8";

html, body{
	
	/*background:url("images/body.jpg");*/
    background:url("images/body.jpg");
	background-repeat:repeat;

	color:#fff;
	letter-spacing:1px;
	font-family:Georgia, "Times New Roman", Times, serif;
    
    
    background-color:#202020 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#171717)) !important;
    background-image: -webkit-linear-gradient(top, #202020, #171717) !important;
    background-image:    -moz-linear-gradient(top, #202020, #171717) !important;
    background-image:     -ms-linear-gradient(top, #202020, #171717) !important;
    background-image:      -o-linear-gradient(top, #202020, #171717) !important;
    background-image:         linear-gradient(top, #202020, #171717) !important;

}



#left_container {

    position:absolute;
    
    width:35%;
    height:100%;
    
    left: 70%;
    top: 0%;
    
    overflow:visible;
    
}

    #filters_panel {
    
        position: absolute;
        width: 97%;
        height: 19%;
        
        top: 0.5%;
        left: -12%;
        
        z-index:10;
    }
    
        .show-option {
            
            position: relative;
            
            margin-left:1%;
            margin-top:1%;
            
            width: 98%;
            height: 20%;
            
            overflow:auto;
            
        }
        
        #filter_container_date {
        
            position:relative;
            
            margin-top:7% !important;
        }
        
        .filter_choice{

            
        }
   
    #fields_container {
        position: absolute;
        width: 96%;
        height: 80%;
        
        top: 20.6%;
        left: 1%;
        
       overflow-x:visible;
       overflow-y:auto;
    }
    
    #dialog-form label, #dialog-form  input { display:block; }
    #dialog-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #fieldset_fields { padding:0; border:0; margin-top:12%; overflow:visible;}
    #fieldset_fields ul{ width:93%; margin-top:8%; margin-bottom:8%; overflow:visible;}
    #dialog-form h1 { font-size: 1.2em; margin: .6em 0; }
    
    .ui-dialog .ui-dialog-titlebar {
    
        cursor:pointer; cursor:hand
    
    }
        
    .ui-dialog .ui-state-error { padding: .3em; }
     .validateTips { border: 1px solid transparent; padding: 0.3em; }
    
    .ui-dialog-titlebar-close {
        display: none;
    }
    
    .ui-widget-overlay {
        display: none;
    }
    
    .ui-menu {
        width: 70% !important;
        
    }
    
    .ui-button-text {
        
        font-size:70% !important;
    }
    
    .overflow-visible {
        
        overflow: visible !important;
    }
    
   
    
    .high-z-index {
        z-index:50;
    }
    
    .menu_text{
        margin-left: 1% !important;
        padding-left: 2% !important;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
   
    }
    
    .date_text{
        
        display: inline !important;
        width: 30% !important;
        margin-top: 2%;
        margin-bottom: -0.1% !important;
        
    }
    
    .ui-datepicker-calendar {
            
    }
    
    
    .divisor-line {
    
        width: 92%;
        margin-left: 1%;

        height: 0.5%;
        border: 1px dashed silver;

    }
    
    
    #doctypemenu {
    
        
        margin-top: 0% !important;
        
        
    }
        
        
    .menuclass {
        width:92.5% !important;
    }
    
    
    .invisible {
        display:none !important;
    }


    .ui-autocomplete {
        max-height: 20% !important;
        overflow-y: scroll !important; 
        
    }
    

#right_container {

    position:absolute;
    
    width:77%;
    height:100%;
    
    left:0.2%;
    top:0;
    


}
    #userpanel_container {
    
        position:absolute;
        
        left:-15.4%;
        top:79.5%;
        
        width:10%;
        height:36.5%;
        
        
              
        
    }
    
    /*Title User Panel Container*/
    #ui-id-1 {
        font-size: 80%;
    }
    

    #pdf_view {

    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    
  
    }

    #pdf_view  object {
        position:absolute;
        left:0;
        top:0;
        display:block;
        
        z-index:10;
    }
    
   
	
/*.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_76e361_500x100.png") 50% 50% repeat-x;
	color: #030303;
}*/

/*.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_d25d72_500x100.png") 50% 50% repeat-x;
	
}*/


h2 {
  
    
    top:-20%;
    left:0;
    height:50%;
    width:100%;
    
}

#table_caption {

    padding-bottom:3%;

}

table {

    border-collapse: collapse;
    border-spacing: 0;
	width:75%;
    height:50%;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    text-align:center;
    
    
    border: 1px solid #555;
    
}

.zebra {

    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none !important; */
    
}


.zebra td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    
    
}

.zebra th, .zebra th:hover {
    border-left: 1px solid #555;
	border-bottom: 1px solid #828282;
    border-top: 1px solid #828282;
    padding: 1%;  
    background-color:#202020 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#191919)) !important;
    background-image: -webkit-linear-gradient(top, #202020, #191919) !important;
    background-image:    -moz-linear-gradient(top, #202020, #191919) !important;
    background-image:     -ms-linear-gradient(top, #202020, #191919) !important;
    background-image:      -o-linear-gradient(top, #202020, #191919) !important;
    background-image:         linear-gradient(top, #202020, #191919) !important;
	color:#fff !important;
	
}

.zebra tbody tr:nth-child(even) {
    background: #303030 !important;
	color:#fff;
}

/*.zebra tr:hover *{
    background: #eeeeee;
	color:#000;
}*/

.zebra td:hover {
    /*background: #eeeeee;*/
	/*color:#000;*/
   
    
}

.zebra tr {
	background:#404040;
	color:#fff;
}

.down_label {
    color: #FEF5CA;
    text-align:center;
}

.down_number {
    font-size:40px;
    padding-top:3%;
    color: #FEF5CA;
    text-align:center;
    
    
}

.ui-state-custom-filled {
    
	border: 1px solid #8cce3b;
	background: #51b072 url("images/ui-bg_highlight-hard_20_51b072_1x100.png") 50% 50% repeat-x;
	color: #030303;
}

.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #e9a355 url("images/ui-bg_highlight-hard_20_e9a355_1x100.png") 50% 50% repeat-x;
	
}
