@charset "UTF-8";

html,body {

    background: none !important;
    background-image: none !important;
    
}


#headers_cover {

    position:absolute;
    background-color:white;
    z-index: 1;
}

.zebra caption{
	font-size: 105%;
    font-weight: normal;
    background-position: 130px center;
    padding-top: 7%;
    padding-bottom: 0%;
    height: 31px;
    }


#records_container{
    position:absolute;
    top: 11%;
    left:0%;
    width:100%;
    height:100%;
	margin:0 auto;
    
    z-index:100;
    pointer-events:all;
}

.title_text {

    /*pointer-events:none !important;
    
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all !important;
    */
    
}

.pdf_table_name {

    
    /*
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all !important;*/   
    

}

#pdf_table_title {

    position:absolute;
    
    font-size:20px;
	font-weight:normal;
	background-position: 130px center;
	
    
    width:90%;
    height:10%;
    
    left:4%;
    top:30%;
    
    font-family: Georgia, "Times New Roman", Times, serif;
  
    
    text-align:center;

}


#pdf_view {

    position:relative;

    padding-top: 9.5%;
    
    z-index:500;
}

object {
    border-radius:2%;
    position:absolute;
    left:-51.3%;
    display:block;
    
    z-index:500;
}

#accordion_table {

    position:absolute;
    
    top:0;
    left: -50%;
    width: 205%;
    height:100%;
    
    overflow:auto;
    
}

#accordion .ui-accordion-content {
    
    padding: 1%;
    border-top: 0;
    overflow: auto;

}

.pdf_zebra {

    float:left;
    display:inline-block;
    
    
    width: 82.5%;
    height: 25%;
}

#partial_table_container {

    display:none;


}

.partial_records_table {

    border-collapse: collapse !important;
    border: 0 !important;
    border-bottom: 1px !important;
}
    
.record_tools_container {

    position: relative;
    display: inline-block;
    float: left;
    height: 80%;
    width: 95%;
    font-size: 100%;
    padding-left: 5%;
    padding-top: 1%;
    
 
}

.partial_table_separator {

    position:relative;
    width:80%;
    height:2%;
    opacity:0.1;
    background:none;
    

}

#pdf_view_object {

    z-index:600;
}

.toggle_pdf_label {
    
    position:relative;
    display: block;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
    text-align: left;
    vertical-align: middle;
    font-size: 70%;
    
}

.assign_to_group_button_label {

    /*position:relative;
    display: block;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
    text-align: left;
    vertical-align: middle;
    font-size: 70%;*/

}


.category_order_by {

    
    width:20%;
    height:5%;
    display:inline-block;


}

.order_tab {

    width: 20%;
    height: 50%;
    font-size: 80% !important;

}

.order_tab .ui-button-text {

    padding: 0 !important;

}

.order_tab .ui-icon {

    left: -20% !important;

}

.flag_button_label {
    
    display:block;
    float:left;
    
    width:80%;
    height:23%;
    
    margin-top:5%;
    
    padding-left:2%;
    padding-top: 7%;
  
    text-align:left;
    
}

.unflag_form{
    display:block !important;
}

.unflag_button{
    display:block;
}

.flag_form{

    position:absolute;
    
    width:100%;
    height:100%;

    z-index: 30 !important;
    display:none;
    
    pointer-events:none;
}

.invisible {
    display:none;
}


.flag_form_report{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: -300%;

    pointer-events:all;
}

#flag_form_line1{

    position: absolute;
    width: 30%;
    height: 5%;
    top: -21.5%;
    left: 328%;
    z-index: 30;

}

#flag_form_line2{

    position: absolute;
    width: 68%;
    height: 13%;
    top: -11%;
    left: 305%;
    font-size: 80%;
    z-index: 30;
    
    text-align:center;

}

#flag_form_line3{

    position: absolute;
    width: 68%;
    height: 13%;
    top: 16.5%;
    left: 305%;
    font-size: 80%;
    text-align: center;
 

}

#flag_form_text{

    position: absolute;
    width: 68%;
    height: 16.5%;
    top: 32%;
    left: 305.5%;
     
}

#submit_now{

    position: absolute;
    width: 15%;
    height: 8.5%;
    top: 50%;
    left: 332%;
    text-align: center;
    
    cursor:pointer; cursor: hand
 
}

#submit_now_label{

    top: 35%;
    left: 6%;
    width: 20%;
    height: 10%;
    text-align: center;
    font-size: 80%;
}
    
#submit_now .ui-button-text{

    width: 60.5%;
    height: 80%;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    padding-top: 3%;
   
}

.flag_form_report_panel{
    
    position:absolute;
    
    width: 75%;
    height: 80%;
    top: -20%;
    left: 302%;
    
    border-radius: 6px;
    border:1px solid #7e7783;
    background: #3d3644 url("jquery-ui-1.10.3.custom/development-bundle/themes/eggplant/images/ui-bg_gloss-wave_30_3d3644_500x100.png") 50% top repeat-x;
    color: #ffffff;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    
}
     


.flag_option {


    width: 24%;
    height: 40%;
    
    background:red;
    
}

.flag_option_label {

    top: 35%;
    left: 6%;
    width: 20%;
    height: 10%;
    text-align: center;
    font-size: 80%;

    
}

.flag_option_label .ui-button-text{

    width: 70%;
    height: 70%;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    padding-top: 10%;
 
}

#flag_option_label_category .ui-button-text {

    padding-top:2%;
}



.unflag_button_label {
    
    display:block;
    float:left;
    
    width:80%;
    height:23%;
    
    margin-top:5%;
    
    padding-left:2%;
    padding-top: 7%;
  
    text-align:left;
}

#down_container {

    position:absolute;
    
    left: 12%;
    top:86%;
    
}

#left_container {

    
    position:absolute;
    
    width:47%;
    height:80%;
    
    left:25%;
    top:5.5%;
    
 
}

#right_container {

    position:absolute;
    
    width:45%;
    height:100%;
    
    left: 0.5%;
    top: 0;
}

#show_options_tab {

    position:absolute;
    
    width:150%;
    height:100%;
    
    left: 95%;
    top: 0;
    background:#7e7783;
    opacity:0.2;
    z-index:600;
    pointer-events:all;
}

#show_options_tab:hover {

    background-color:#665874;
    
    opacity:0.5;
    
    cursor:pointer; cursor: hand
}

#listpanel_container {

    position:absolute;
    
    width:21%;
    height:100%;
    
    left: 78.5%;
    top: 0;
    pointer-events:all;
}

    #fields_container {
        position: absolute;
        width: 96%;
        height: 99%;
        
        top: 0.6%;
        left: 1%;
        
       overflow-x:auto;
       overflow-y:hidden;
       
       
    }
    
    
    
    #listpanel-form label, #listpanel-form  input { margin-left:4%; display:inline-block; }
    #listpanel-form input.text { margin-bottom:2%; width:95%; padding: 2%; }
    #fieldset_fields { padding:0; border:0; margin-top:12%; overflow:hidden;}
    #fieldset_fields ul{ width:95%; margin-left: 3%; margin-top:8%; margin-bottom:8%; overflow:hidden}
    #listpanel-form h1 { font-size: 1.2em; margin: .6em 0; }

   
    .divisor-line {
    
        width: 92%;
        margin-left: 1%;

        height: 0.5%;
        border: 1px dashed silver;

    }
    
    
    
#search_container {

    position:absolute;
    
    width: 58%;
    height: 10%;
    left: 25%;
    top: -2%;

}


#search_form {

    position:absolute;
    
    top: 0%;
    left: 0%;
    
    height:100%;
    width: 100%;
    
    
}


#search_text {

    position: absolute;
    display:none;
    height: 80%;
    width: 26%;
    top: 12%;
    left: 7%;
    z-index: 21;

}


#search_label {

    position: absolute;
    height: 80%;
    width: 90%;
    top: 30%;
    left: 9%;

    font-size: 90%;
    z-index: 21;
    
    cursor:pointer; cursor: hand

}

#paginator {

    position:absolute;
    
    height: 40%;
    width: 70%;
    top: 967%;
    left: 1.8%;
    text-align: left;
    color: #4F4F4F !important;
    
}

#paginator_informer {

    position:absolute;
    
    height: 90%;
    width: 100%;
    top: -61%;
    left: 11.6%;
    text-align: left;
    letter-spacing:0px;
    
 
}


#paginator_prev {

    position:absolute;
    
    height: 90%;
    width: 10%;
    top: -55%;
    left: -1%;
    text-align: left;
    letter-spacing:0px;
    color:#827db6;
    cursor:pointer;
    z-index:50%;
    pointer-events:all;
 
}

#paginator_prev:hover {
    color:#92bdd6;
}

#paginator_next{

    position:absolute;
    
    height: 90%;
    width: 10%;
    top: -55%;
    left: 104%;
    text-align: left;
    color:#827db6;
    letter-spacing:0px;
    cursor:pointer;
    z-index:50%;
    pointer-events:all;
}

#paginator_next:hover {
    color:#92bdd6;
}



#paginator_counter_beginning_chooser{

    position:relative;
    
    height: 80%;
    width: 11%;
    
    text-align: center;
    color:#827db6;
    letter-spacing:0px;
    
    
    z-index:50%;
    pointer-events:all;
}



.custom-tooltip {

    width:260px;
    height:35px;
    
    font-size:14px;

}



#corpus_container {


    position: absolute;
    top: 35%;
    left: -12%;
    height: 50%;
    width: 100%;
    z-index: 20;
    pointer-events: all;
    text-align: center;
   
}

.corpus_choice_label {

    width:18%;
    height:98%;
     
}

.corpus_choice_label .ui-button-text {

   
    
}

#filter_container {


    position:absolute;
    top: 105%;
    left: 3%;
    height: 40%;
    width: 70%;
    z-index: 700;
    text-align: center;
    
    pointer-events:all;
   
}

.filter_choice_label {

    width:18%;
    height:98%;
     
}

.filter_choice_label .ui-button-text {
 
    
}

#filter_unlinked .ui-button-text {

    
}

#filter_text {

    display:none;

}

#skip_form {

    position: absolute;
  
    top: 176%;
    left: 207.05%;

    font-size: 82%;
    
    z-index:52;
   

}

#skip_label {

    width:100%;
    height:50%;
    
    z-index:51;
    
}

#skip_confirmation_panel {

    position: absolute;
    width: 500%;
    height: 500%;
    
    top: -500%;
    left: -500%;
    display:none;
    
    z-index:51;
    
    
    text-align: center;
    
}

#search_options_container {
    
    position:absolute;
    
    width: 72%;
    height: 98%;
    top: 62%;
    left: -1.5%;
    
    
    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
    
    z-index: 21;

}



#options_text {

   display: none;
   top: 0%;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 20;
    
}

.option_text_input {

    position:absolute;
    font-size:65%;  

    top:72%;
    

    width:11%;
    height:56%;
    
    z-index:30;
    
    pointer-events:all;

}



#option_text_input_name {

    left:20.5%;
   
}

#option_text_input_date {


    left:33.8%;
   
}

#option_text_input_doctype {

    left:47.7%;
   

}

#option_text_input_piecenumber {

    left:60.8%;
   

}

#option_text_input_docname {

    left:74.7%;
   

}



#option_text_input_id_docname {

    left:88.5%;
   

}


.option_checkbox_label {

    width:13%;
    height:100%;
    
    left:0%;
    top:0%;  
    
    
    padding-bottom:3%;
}

.option_checkbox_label .ui-button-text {

    position:absolute;

    width:80%;
    height:100%;
    
    left:0%;
    top:0%;
    
    font-size:65%; 
    
    
}

#option_name_label .ui-button-text {
 
    left:0%;
    top:3%;

    font-size: 59%;
}

#option_docname_label .ui-button-text {

    left:0%;

    font-size:65%; 
}



.unlinking_form{
    display:none;
}

.unflag_button_label{
    font-size:90% !important;
}

.unlinking_button_label{
    font-size:90% !important;
}


.search_text_copy {

    display:none;

}

.filter_text_copy {

    display:none;

}

/*Custom UI States*/

/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/ 


.ui-state-custom-linked {
    
	border: 1px solid #8cce3b;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_76e361_500x100.png") 50% 50% repeat-x;
	color: #030303;
}

.ui-state-custom-error {
        
	border: 1px solid #f1ac88;
	background: #f6ecd5 url("images/ui-bg_gloss-wave_85_d25d72_500x100.png") 50% 50% repeat-x;
	
}
	
