@charset "UTF-8";


    #login label, #login  input { display:block;}
    #login input.text { margin-bottom:4%; width:95%; padding: 2%; }
    fieldset { padding:0; border:0; margin-top:3%; overflow:hidden;}
    fieldset ul{ width:93%; margin-top:10%; margin-bottom:10%; overflow:hidden}
    #login h1 { font-size: 1.2em; margin: .6em 0; }
    #login { overflow:hidden; }
    
   

