@charset "UTF-8";

#upper_container{

    position:absolute;
    
    width:100%;
    height:100%;
    
    top:0;
    left:0;

    background: white;
}

            .sortable { 
                list-style-type: none; 
                margin: 0; 
                padding: 0; 
                float: left; 
                background: #eee; 
                width: 100%; 
                height:100%;
                
                overflow-y: auto;
                
            }
            
            .sortable .candidate { 
                display: inline-block;
                width: 100%;
                font-size: 100%;
                height: 20%;
                margin: 1%;
                padding: 0;
                float: left;
                border: 1px solid black;
                
            }
            

#graph_container_right  {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    
}

    #transactions_lists_container {
    
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;

    
    }
    
    
        #chosen_transaction_element  {

        position: absolute;
        width: 100%;
        height: 88%;
        top: 0;
        left: 0%;
        background: rgba(238,238,238,1);
        border: 1px solid black;
        
        }
        
            
                #chosen_transaction_content  {

                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: auto;
                
                
                }
        
               
                    
        #transaction_search_candidates  {

        position: absolute;
        /*width: 45%;*/
        width:100%;
        height:410px !important;
        /*height: 419px !important;*/
        /*431px*/
        z-index: 200;
        overflow: auto;

        -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s;
        
        }
        
            .transactions_list_description {
            
                position: relative;
                display: block;
                width: 95%;
                height: 12%;
                top: 0;
                left: 0;
                margin-left: 0;
                text-align: center;
                color: black;
                border: 1px solid lightgrey;
                font-size: 70%;

            }
        
            .transaction_search_candidates_list {
            
                position: relative;
                display: inline-block;
                width: 100%;
                height: 33%;
                top: 0;
                left: 0;
                margin-left: 0%;
                border: 1px solid lightgrey;
    
                display:none;

            }
            
            .transaction_search_candidate { 
            
                width: 20% !important;
                height: 50% !important;
               
            }
            
            .candidate_table {
            
                /*width:100%;
                height:100%;
                background:green;*/
            
            }
            

#fields_container {

    position:absolute;
    width:100%;
    height:100%;
    
    left:0;
    right:0;
    
    background:green;

}



#search_config_panel {

    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    height: 10%;

}

    #search_tags_show_panel {
    
    position: absolute;
    left: 0;
    top: 3%;
    width: 100%;
    height: 30%;
    overflow: auto;

    }
    
        
        .search_tag_unit {
        
        position: relative;
        display: inline-block;
        width: auto;
        margin-left: 1%;
        padding-right: 0.5%;
        height: 100%;
        background: lightgrey;
        }
        
        .erase_tag_button {
        
        position: relative;
        display:inline-block;
        width: auto;
        
        height: 100%;

        }
        
        .tag_text
            {
        
        position: relative;
        display: inline-block;
        width: auto;
        height: 100%;
        font-family: Georgia;
        font-size: 70%;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        letter-spacing: 0px;
        color: black;

        }
        
    #search_tags_create_panel {
    
    position: absolute;
    left: 5%;
    top: 35%;
    width: 90%;
    height: 65%;
    background: lightgrey;
    
    
    
    }

    #search_tags_tools_line {
    
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 60%;
    
    
    
    }
    
    
    
    #select_tagtype_menu {
    
    position: relative;
    height: 100%;
    width: 11%;
    margin-left: 3%;
    
        
    }
    
    #searchtags_input {
    
       position: relative;
    width: 11%;
    margin-left: 1%;
    height: 100%;
    font-weight: bold;
    
    }
    
    #searchtag_add_button {
        
       position: relative;
        width: 3%;
        margin-left: 1%;
        font-weight: bold;
        
    }
    
    
    #generate_report_button {
        
       position: relative;
        width: 11%;
        margin-left: 1%;
        font-weight: bold;
        
        
    }
    
    #search_panel_separation {
        
        position: relative;
        display: inline-block;
        /* background: darkgrey; */
        margin-left: 1%;
        width: 1%;
        height: 1%;
        border: 5px dotted darkgrey;
        
    }
    
    

    #add_to_template_button {
        
       position: relative;
       display: inline-block;
        width:11%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    #load_template_button {
        
       position: relative;
       display: inline-block;
        width:11%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    #template_select_section {
    
        position: relative;
       display: inline-block;
        width:11%;
        height:70%;
        margin-left: 1%;


    }
    
    #select_saved_template_menu {
        
       position: relative;
       display: inline-block;
        width:100% !important;
        height:100%;
        
        font-family: Georgia !important;
        
        
        
        z-index:300;
        
    }
    
    #selected_template {
        
  
        width:100% !important;

        
    }
    
    #selected_template_link {
    
    
        line-height: 1;
    
    }
    
    #remove_template_button {
        
       position: relative;
       display: inline-block;
        width:12%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    input#content_list_button {
    height: 38px;
    padding: 10px;
    width: 40px;
    font-weight: bold !important;
    background: white;
    
    }
    
    #icon-list
        {
        height: 16px;
        padding: 10px;
        width: 18px;
        font-weight: bold !important;
        background: white;
        position: absolute;
        top: 51px;
        left: inherit;
        border-radius: 20%;
        pointer-events:none;
    }
    
    
    #searchtags_string {

    position:absolute;
    
    left:0;
    top:-900%;
    
    width:50%;


    }
    
    th.tablesorter-header.resizable-false {
      background-color: #e6bf99;
    }
    /* ensure box-sizing is set to content-box, if using jQuery versions older than 1.8;
     this page is using jQuery 1.4 */
    .tablesorter {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
    
    .tablesorter-resizer
        {
        z-index:2000;
    }

    
#iframe_test {

    position:absolute;
    
    width:50%;
    height:100%;
    
    left:50%;
    top:0%;
    
    background-color:#EEE;
    
    
    /*border:2px solid black;*/
    
    z-index:2;
  
}

.been-clicked1 {

    background:#FFD1D1 !important;

}

.been-clicked2 {

    background:#FF8F8F !important;

}

.been-clicked3 {

    background:#FF5252 !important;

}

.been-clicked4 {

    background:#FF3B3B !important;

}

.been-clicked5 {

    background:#FF1F1F !important;

}

.button {

    cursor:pointer;

}

.ui-selected {

    background: #F39814 !important;
    

}

.ui-selecting {

    background: #FECA40 !important;
    

}

.ui-menu {
    width: auto !important;
}

.ui-menu-item {

    overflow: hidden;
}

.pdf_button {

    position: relative;
    width: 8px;
    height: 17px;
    padding-right: 8px;
    cursor: pointer;
    background-color: white;
    border-radius: 20%;
    
}

.pdf_button:hover{

    background-color: rgb(205, 226, 235);

}
