@charset "UTF-8";

#upper_container{

    position:absolute;
    
    width:100%;
    height:100%;
    
    top:0;
    left:0;

    background: white;
}

            .sortable { 
                list-style-type: none; 
                margin: 0; 
                padding: 0; 
                float: left; 
                background: #eee; 
                width: 100%; 
                height:100%;
                
                overflow-y: auto;
                
            }
            
            .sortable .candidate { 
                display: inline-block;
                width: 20%;
                font-size: 100%;
                height: 20%;
                margin: 1%;
                padding: 0;
                float: left;
                border: 1px solid black;
                border-radius: 100%;
            }
            

#graph_container_right  {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    
}

    #transactions_lists_container {
    
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;

    
    }
    
    
        #chosen_transaction_element  {

        position: absolute;
        width: 100%;
        height: 70%;
        top: 0;
        left: 0%;
        background: rgba(238,238,238,1);
        border: 1px solid black;
        
        }
        
            
                #chosen_transaction_content  {

                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: auto;
                
                
                }
        
               
                    
        #transaction_search_candidates  {

        position: absolute;
        width: 90%;
        height: 19%;
        top: 70%;
        left: 1%;

        }
        
            .transactions_list_description {
            
                position: relative;
                display: block;
                width: 95%;
                height: 12%;
                top: 0;
                left: 0;
                margin-left: 0;
                text-align: center;
                color: black;
                border: 1px solid lightgrey;
                font-size: 70%;

            }
        
            .transaction_search_candidates_list {
            
                position: relative;
                display: inline-block;
                width: 23%;
                height: 100%;
                top: 0;
                left: 0;
                margin-left: 0%;
                border: 1px solid lightgrey;
    
                display:none;

            }
            
            .transaction_search_candidate { 
            
                width: 5% !important;
                height: 15% !important;
               
            }

#fields_container {

    position:absolute;
    width:100%;
    height:100%;
    
    left:0;
    right:0;
    
    background:green;

}



#search_config_panel {

    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    height: 10%;

}

    #search_tags_show_panel {
    
    position: absolute;
    left: 0;
    top: 3%;
    width: 100%;
    height: 30%;
    overflow: auto;

    }
    
        
        .search_tag_unit {
        
        position: relative;
        display: inline-block;
        width: auto;
        margin-left: 1%;
        padding-right: 0.5%;
        height: 100%;
        background: lightgrey;
        }
        
        .erase_tag_button {
        
        position: relative;
        display:inline-block;
        width: auto;
        
        height: 100%;

        }
        
        .tag_text
            {
        
        position: relative;
        display: inline-block;
        width: auto;
        height: 100%;
        font-family: Georgia;
        font-size: 70%;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        letter-spacing: 0px;
        color: black;

        }
        
    #search_tags_create_panel {
    
    position: absolute;
    left: 5%;
    top: 35%;
    width: 90%;
    height: 65%;
    background: lightgrey;
    
    
    
    }

    #search_tags_tools_line {
    
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 60%;
    
    
    
    }
    
    
    
    #select_tagtype_menu {
    
    position: relative;
    height: 100%;
    width: 11%;
    margin-left: 3%;
    
        
    }
    
    #searchtags_input {
    
       position: relative;
    width: 11%;
    margin-left: 1%;
    height: 100%;
    font-weight: bold;
    
    }
    
    #searchtag_add_button {
        
       position: relative;
        width: 3%;
        margin-left: 1%;
        font-weight: bold;
        
    }
    
    
    #generate_report_button {
        
       position: relative;
        width: 11%;
        margin-left: 1%;
        font-weight: bold;
        
        
    }
    
    #search_panel_separation {
        
        position: relative;
        display: inline-block;
        /* background: darkgrey; */
        margin-left: 1%;
        width: 1%;
        height: 1%;
        border: 5px dotted darkgrey;
        
    }
    
    

    #add_to_template_button {
        
       position: relative;
       display: inline-block;
        width:11%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    #load_template_button {
        
       position: relative;
       display: inline-block;
        width:11%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    #template_select_section {
    
        position: relative;
       display: inline-block;
        width:11%;
        height:70%;
        margin-left: 1%;


    }
    
    #select_saved_template_menu {
        
       position: relative;
       display: inline-block;
        width:100% !important;
        height:100%;
        
        font-family: Georgia !important;
        
        
        
        z-index:300;
        
    }
    
    #selected_template {
        
  
        width:100% !important;

        
    }
    
    #selected_template_link {
    
    
        line-height: 1;
    
    }
    
    #remove_template_button {
        
       position: relative;
       display: inline-block;
        width:12%;
        margin-left: 1%;

        font-weight:bold;
        
        
    }
    
    
    
    #searchtags_string {

    position:absolute;
    
    left:0;
    top:-900%;
    
    width:50%;


    }

    
     
    
    
      
#iframe_test {

    position:absolute;
    
    width:100%;
    height:100%;
    
    left:0%;
    top:0%;
    
    background-color:#EEE;
    
    
    /*border:2px solid black;*/
    
    z-index:200;
  
}

.been-clicked1 {

    background:#FFD1D1 !important;

}

.been-clicked2 {

    background:#FFD1D1 !important;

}

.been-clicked3 {

    background:#FFD1D1 !important;

}

.been-clicked4 {

    background:#FFD1D1 !important;

}

.been-clicked5 {

    background:#FFD1D1 !important;

}

.button {

    cursor:pointer;

}

.ui-selected {

    background: #F39814;
    

}

.ui-selecting {

    background: #FECA40;
    

}

.ui-menu {
    width: auto !important;
}

.ui-menu-item {

    overflow: hidden;
}



